@import "../config.scss";

.danger-color {
  color: $color-danger;
}

.warning-color {
  color: $color-warning;
}

.success-color {
  color: $color-success;
}

.default-color {
  color: $color-success;
}

.white-color {
  color: #fff;
}

.danger-bg {
  background-color: $color-danger;
}

.warning-bg {
  background-color: $color-warning;
}

.success-bg {
  background-color: $color-success;
}

.default-bg {
  background-color: $color-success;
}

.orange-bg {
  background-color: $color-orange;
}