/**
 * 全局盒子类
 */

@import "../config.scss";

$C_PREFIX: #{$comp-prefix}-css;

// margin top
.#{$C_PREFIX}-m-t-half {
  margin-top: $gutter-v-half;
}

.#{$C_PREFIX}-m-t {
  margin-top: $gutter-v;
}

.#{$C_PREFIX}-m-t-double {
  margin-top: $gutter-v-double;
}

// margin right
.#{$C_PREFIX}-m-r-half {
  margin-right: $gutter-h-half;
}

.#{$C_PREFIX}-m-r {
  margin-right: $gutter-h;
}

.#{$C_PREFIX}-m-r-double {
  margin-right: $gutter-v-double;
}

// margin bottom
.#{$C_PREFIX}-m-b-half {
  margin-bottom: $gutter-v-half;
}

.#{$C_PREFIX}-m-b {
  margin-bottom: $gutter-v;
}

.#{$C_PREFIX}-m-b-double {
  margin-bottom: $gutter-v-double;
}

// margin left
.#{$C_PREFIX}-m-l-half {
  margin-left: $gutter-h-half;
}

.#{$C_PREFIX}-m-l {
  margin-left: $gutter-h;
}

.#{$C_PREFIX}-m-l-double {
  margin-left: $gutter-h-double;
}

// padding top
.#{$C_PREFIX}-p-t-half {
  padding-top: $gap-v-half;
}

.#{$C_PREFIX}-p-t {
  padding-top: $gap-v;
}

.#{$C_PREFIX}-p-t-double {
  padding-top: $gap-v-double;
}

// padding right
.#{$C_PREFIX}-p-r-half {
  padding-right: $gap-h-half;
}

.#{$C_PREFIX}-p-r {
  padding-right: $gap-h;
}

.#{$C_PREFIX}-p-r-double {
  padding-right: $gap-v-double;
}

// padding bottom
.#{$C_PREFIX}-p-b-half {
  padding-bottom: $gap-v-half;
}

.#{$C_PREFIX}-p-b {
  padding-bottom: $gap-v;
}

.#{$C_PREFIX}-p-b-double {
  padding-bottom: $gap-v-double;
}

// padding left
.#{$C_PREFIX}-p-l-half {
  padding-left: $gap-h-half;
}

.#{$C_PREFIX}-p-l {
  padding-left: $gap-h;
}

.#{$C_PREFIX}-p-l-double {
  padding-left: $gap-h-double;
}
