@import '../../scss/config.scss';
@import '../../scss/name.scss';

$C_PREFIX: $COMP_MOTION_RIP;

.#{$C_PREFIX} {
  &.#{$C_PREFIX}-comp {
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    opacity: 1;
    top: 0;
    left: 0;
    transition: opacity 800ms ease-out;

    &.#{$C_PREFIX}-circle {
      border-radius: 100%;
    }

    &.#{$C_PREFIX}-overflow {
      overflow: hidden;
    }

    & > .#{$C_PREFIX}-spot {
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 100%;
      box-sizing: border-box;

      background-color: rgba(0, 0, 0, .2);
      border-radius: 100%;
      opacity: 1;

      will-change: transform;
      transform-origin: 50% 50%;
      transform: translate(-50%, -50%) scale(0);
    }
  }

  &.#{$C_PREFIX}-assign {
    & > .#{$C_PREFIX}-spot {
      top: auto;
      left: auto;
      transform: scale(0);
    }
  }

  &.#{$C_PREFIX}-active {
    opacity: 0;

    &.#{$C_PREFIX}-assign {
      & > .#{$C_PREFIX}-spot {
        transform: scale(1);
      }
    }

    & > .#{$C_PREFIX}-spot {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
