@import '../../scss/config.scss';
@import '../../scss/name.scss';

$C_PREFIX: $COMP_MOTION_RIP;

.#{$C_PREFIX} {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  opacity: 1;
  top: 0;
  left: 0;
  will-change: opacity;
  transition-property: opacity;
  transition-timing-function: ease-in;

  &.#{$C_PREFIX}-circle {
    border-radius: 100%;

    & > .#{$C_PREFIX}-spot {
      padding: 80%;
    }
  }

  &.#{$C_PREFIX}-overflow {
    overflow: hidden;
  }

  &.#{$C_PREFIX}-assign {
    & > .#{$C_PREFIX}-spot {
      top: auto;
      left: auto;
      transform: scale(0);
    }
  }

  &.#{$C_PREFIX}-active {
    opacity: 1;

    &.#{$C_PREFIX}-assign {
      & > .#{$C_PREFIX}-spot {
        transform: scale(1);
      }
    }

    & > .#{$C_PREFIX}-spot {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &.#{$C_PREFIX}-after {
    opacity: 0;

    &.#{$C_PREFIX}-assign {
      & > .#{$C_PREFIX}-spot {
        transform: scale(1);
      }
    }

    & > .#{$C_PREFIX}-spot {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  & > .#{$C_PREFIX}-spot {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 100%;
    box-sizing: border-box;

    background-color: rgba(0, 0, 0, .16);
    border-radius: 100%;
    opacity: 1;

    will-change: transform;
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%) scale(0);
    transition-timing-function: ease-in;
    transition-property: transform;
  }
}
