@import "../../../../scss/config.scss";
@import "../../../../scss/extend.scss";
@import "../../../../scss/name.scss";
@import "../../../../scss/mixin.scss";

/**
 * col 组件样式
 */

$gap-hub: (5, 10, 20, 30, 40, 50);
$device-type: span, xs, s, m, l, xl;

@mixin device-style($type) {
  @for $i from 1 through 12 {
    &.#{ $C_PREFIX }-#{$type}-#{$i} {
      width: 100% * $i / 12;

      @each $gap in $gap-hub {
        &.#{ $C_PREFIX }-gap-#{$gap} {
          @if $i == 12 {
            width: 100%;
            margin-right: 0;
            margin-left: 0;

            &:first-child {
              width: 100%;
            }

            &:last-child {
              width: 100%;
            }
          } @else {
            width: calc(#{100% * $i / 12} - #{$gap}px);
            margin-right: #{$gap / 2}px;
            margin-left: #{$gap / 2}px;

            &:first-child {
              width: calc(#{100% * $i / 12} - #{$gap / 2}px);
            }

            &:last-child {
              width: calc(#{100% * $i / 12} - #{$gap / 2}px);
            }
          }
        }
      }
    }
  }
}

$C_PREFIX: #{ $COMP_COL };

.#{ $C_PREFIX } {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;

  @each $type in $device-type {
    @if $type != span {
      @include device-type ($type) {
        @include device-style($type);
      }
    } @else {
      @include device-style($type);
    }
  }

  @each $gap in $gap-hub {
    &.#{ $C_PREFIX }-gap-#{$gap}:first-child {
      margin-left: 0;
    }

    &.#{ $C_PREFIX }-gap-#{$gap}:last-child {
      margin-right: 0;
    }
  }

  @for $i from 1 through 12 {
    &.#{ $C_PREFIX }-pull-#{$i},
    &.#{ $C_PREFIX }-push-#{$i} {
      position: relative;
    }

    &.#{ $C_PREFIX }-offset-#{$i} {
      margin-left: 100% * $i / 12;

      @each $gap in $gap-hub {
        &.#{ $C_PREFIX }-gap-#{$gap}:first-child:last-child {
          margin-left: calc(#{100% * $i / 12} + #{$gap / 2}px);
        }
      }
    }

    &.#{ $C_PREFIX }-pull-#{$i} {
      left: -100% * $i / 12;

      @each $gap in $gap-hub {
        &.#{ $C_PREFIX }-gap-#{$gap}:last-child {
          left: calc(-#{100% * $i / 12} - #{$gap / 2}px);
        }
      }
    }

    &.#{ $C_PREFIX }-push-#{$i} {
      left: 100% * $i / 12;

      @each $gap in $gap-hub {
        &.#{ $C_PREFIX }-gap-#{$gap}:first-child {
          left: calc(#{100% * $i / 12} + #{$gap / 2}px);
        }
      }
    }
  }
}