include ../mixin.pug

div
  article.example-article
    +section('start', '开始使用')
      p 在终端安装
      z-code.
        npm i vue2do -S
      p 全部加载
      z-code.
        import Vue from 'vue'
        import vue2do from 'vue2do'

        Vue.use(vue2do)
      p 局部加载
      z-code.
        import {
          select,
          input
          // ...
        } from 'vue2do'

        Vue.component('select', select)
        Vue.component('yourPrefix' + input.compName, input)