@import "../config.scss";

$C_PREFIX: $comp-prefix;
$dirction-hub: "top", "bottom", "left", "right";

@mixin bounce($dirction) {
  $bounce-in-data: ();
  $bounce-out-data: ();

  @if $dirction == "down" {
    $bounce-in-data: (
      first: "0, -3000px, 0",
      second: "0, 25px, 0",
      third: "0, -10px, 0",
      fourth: "0, 5px, 0"
    );

    $bounce-out-data: (
      first: "0, 0, 0",
      second: "0, 20px, 0",
      third: "0, -2000px, 0"
    );
  }

  @if $dirction == "top" {
    $bounce-in-data: (
      first: "0, 3000px, 0",
      second: "0, -25px, 0",
      third: "0, 10px, 0",
      fourth: "0, -5px, 0"
    );

    $bounce-out-data: (
      first: "0, 0, 0",
      second: "0, -20px, 0",
      third: "0, 2000px, 0"
    );
  }

  @if $dirction == "right" {
    $bounce-in-data: (
      first: "3000px, 0, 0",
      second: "-25px, 0, 0",
      third: "10px, 0, 0",
      fourth: "-5px, 0, 0"
    );

    $bounce-out-data: (
      first: "0, 0, 0",
      second: "-20px, 0, 0",
      third: "2000px, 0, 0"
    );
  }

  @if $dirction == "left" {
    $bounce-in-data: (
      first: "-3000px, 0, 0",
      second: "25px, 0, 0",
      third: "-10px, 0, 0",
      fourth: "5px, 0, 0"
    );

    $bounce-out-data: (
      first: "0, 0, 0",
      second: "20px, 0, 0",
      third: "-2000px, 0, 0"
    );
  }

  @keyframes bounce-in-#{ $dirction } {
    0%, 100%, 60%, 75%, 90% {
      animation-timing-function: cubic-bezier(0.215,.61,.355,1);
    }
    0% {
      opacity: 0;
      transform: translate3d(#{ map-get($bounce-in-data, first) });
    }
    60% {
      opacity: 1;
      transform: translate3d(#{ map-get($bounce-in-data, second) });
    }
    75% {
      transform: translate3d(#{ map-get($bounce-in-data, third) });
    }
    90% {
      transform: translate3d(#{ map-get($bounce-in-data, fourth) });
    }
    100% {
      transform: none;
    }
  }
  @keyframes bounce-out-#{ $dirction } {
    20% {
      transform: translate3d(#{ map-get($bounce-out-data, first) });
    }
    40%, 45% {
      transform: translate3d(#{ map-get($bounce-out-data, second) });
    }
    100% {
      transform: translate3d(#{ map-get($bounce-out-data, third) });
    }
  }

  .#{$C_PREFIX}-bounce-#{ $dirction }-enter-active,
  .#{$C_PREFIX}-bounce-#{ $dirction }-leave-active {
    animation-duration: 1s !important;
  }
  .#{$C_PREFIX}-bounce-#{ $dirction }-enter-active {
    animation-name: bounce-in-#{ $dirction } !important;
  }
  .#{$C_PREFIX}-bounce-#{ $dirction }-leave-active {
    animation-name: bounce-out-#{ $dirction } !important;
  }
}

@each $type in $dirction-hub {
  @include bounce($type)
}
