@import "../config.scss";

$C_PREFIX: $comp-prefix;

$dirction-hub: "top", "bottom", "left", "right";

@mixin slide($dirction) {
  $transform-data: translateY(0) !default;

  @if $dirction == "bottom" {
    $transform-data: translateY(-100%);
  }

  @if $dirction == "top" {
    $transform-data: translateY(100%);
  }

  @if $dirction == "left" {
    $transform-data: translateX(-100%);
  }

  @if $dirction == "right" {
    $transform-data: translateX(100%);
  }

  .#{ $C_PREFIX }-slide-#{ $dirction }-enter,
  .#{ $C_PREFIX }-slide-#{ $dirction }-enter-active,
  .#{ $C_PREFIX }-slide-#{ $dirction }-leave-active {
    transition: transform 500ms ease-out !important;
  }

  .#{ $C_PREFIX }-slide-#{ $dirction }-enter,
  .#{ $C_PREFIX }-slide-#{ $dirction }-leave-active {
    transform: $transform-data !important;
  }
}

@each $type in $dirction-hub {
  @include slide($type)
}