@import "../config.scss";
@import "./bounce.scss";
@import "./fall.scss";

$C_PREFIX: $comp-prefix;

.#{ $C_PREFIX }-rotate-half-enter {
  transform: rotate(0deg);
}
.#{ $C_PREFIX }-rotate-half-enter-active {
  transform: rotate(180deg);
  transition: all 1s ease;
}

.#{ $C_PREFIX }-fade-enter,
.#{ $C_PREFIX }-fade-leave-active {
  transition: opacity 1s ease-out;
  opacity: 0,
}
