{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions", "ie >= 9"]
      }
    }]
  ],
  "plugins": [
    "syntax-dynamic-import",
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }],
    ["transform-vue-jsx"]
  ]
}
