language: node_js
node_js:
  - "8.2.1"
cache:
  directories: node_modules
addons:
  chrome: stable
before_install:
  - export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
install:
|
  npm install npm@latest -g
  npm --version
  npm install --registry http://registry.npmjs.org
script:
  - npm run test:ci
after_script:
  - npm run coveralls
  - npm run prod