@import "../../../scss/config.scss";
@import "../../../scss/extend.scss";
@import "../../../scss/name.scss";
@import "../../../scss/mixin.scss";

/**
 * list 组件样式
 */

$C_PREFIX: #{ $COMP_LIST };

.#{$C_PREFIX} {
  position: relative;
  background-color: #fff;
  overflow: hidden;

  .#{$C_PREFIX}-page {
    background-color: #fff;
    border-top: $border-color $border-thin solid;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    transition: top 150ms ease-out;
  }

  .#{$C_PREFIX}-ul {
    list-style-type: none;
  }

  &.#{$C_PREFIX}-theme-primary {
    .#{$C_PREFIX}-ul {
      list-style-type: none;

      &>.#{$C_PREFIX}-li {
        border-bottom: $border-color $border-thin solid;
        padding: $gap-v 0;

        &:last-child {
          border: none;
        }
      }
    }
  }
}
