@import "~config.scss";

.page-layout {
  margin-left: $menuwidth;

  .page-layout-wrap {

    .page-layout-content {
      background-color: $bg-color;
      padding: $gap-v-double;

      .page-layout-bg {
        padding: $gap-v-double;
        background-color: #fff;
      }
    }
  }
}