@import "../../scss/config.scss";
@import "../../scss/extend.scss";
@import "../../scss/name.scss";
@import "../../scss/mixin.scss";

/**
 * page 组件样式
 */

$C_PREFIX: #{ $COMP_PAGE };

.#{$C_PREFIX} {
  color: $grey-dark;

  &.#{$C_PREFIX}-type-more {
    display: inline-block;
  }

  .#{$C_PREFIX}-more {
    padding: $gap-v 0;
    color: $grey;

    .#{$C_PREFIX}-load {
      cursor: pointer;
    }
  }

  .#{$C_PREFIX}-num {
    .#{$C_PREFIX}-length {
      color: $grey-light;
    }

    .#{$C_PREFIX}-ele {
      cursor: pointer;
      min-width: 20px;
    }

    .#{$C_PREFIX}-ul {
      margin: 0 $gap-h;
      display: inline-block;
      vertical-align: middle;

      &>.#{$C_PREFIX}-li {
        display: inline-block;
        color: $grey-light;
        padding: $gap-v-half 0;
        border-radius: 6px;
        min-width: 30px;
        text-align: center;

        &.#{$C_PREFIX}-li-active {
          background-color: $color-primary;
          color: #fff;
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .#{$C_PREFIX}-total{
      color: $grey-light;
      margin: 0 $gap-h-double;
    }

    .#{$C_PREFIX}-search {
      display: inline-block;

      .#{$C_PREFIX}-jump-box {
        width: 50px;
      }

      .#{$C_PREFIX}-jump-btn {
        margin-left: $gap-h;

        .btn-default {
          color: $grey;
        }
      }
    }
  }

  &.#{$C_PREFIX}-theme-primary {
    text-align: center;
  }

  @include device-type("s") {
    &.#{$C_PREFIX}-type-more {
      width: 100%;
    }

    .#{$C_PREFIX}-num {
      .#{$C_PREFIX}-search,
      .#{$C_PREFIX}-length{
        display: none;
      }
    }
  }
}
