@import "../../../scss/extend.scss";
@import "../../../scss/name.scss";
@import "../../../scss/mixin.scss";

/**
 * pop 组件样式
 */

$C_PREFIX: #{ $COMP_MODAL };

.#{$C_PREFIX} {
  @include device-type("<s") {
    .#{$C_PREFIX}-bg {
      background: rgba(0, 0, 0, .5);
    }
    .#{$C_PREFIX}-pop {
      width: 96%;
    }

    &.#{$C_PREFIX}-type-full {
      .#{$C_PREFIX}-pop {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 0;

        & > header {
          position: absolute;
          top: 0;
          left: 0;
          padding-top: 12px;
          padding-bottom: 12px;
        }

        & > article {
          min-height: auto;
          width: 100%;
          height: 100%;
          padding-top: 60px;
        }
      }
    }
  }
}