@import "../../../scss/config.scss";
@import "../../../scss/extend.scss";
@import "../../../scss/name.scss";
@import "../../../scss/mixin.scss";

/**
 * pop 组件样式
 */

$C_PREFIX: #{ $COMP_MODAL };
$ICON_PREFIX: #{ $COMP_ICON };
$BTN_PREFIX: #{ $COMP_BTN };
$SCROLLER_PREFIX: #{ $COMP_SCROLLER };

$POP_CONTAINER_PADDING: 24px;

.#{ $C_PREFIX } {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: $z-index-modal;

  .#{ $C_PREFIX }-bg {
    background: rgba(0, 0, 0, .12);
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
  }

  .#{ $C_PREFIX }-pop {
    position: absolute;
    background: #fff;
    border-radius: $border-radius;
    overflow: hidden;
    transform: rotate(0);
    box-shadow: $shadow;

    padding-top: $gap-v-triple;

    > header {
      cursor: move;
      padding: 0 24px 20px;
      box-sizing: border-box;
      width: 100%;

      .#{ $C_PREFIX }-header-title {
        font-size: $h3;
        line-height: 1;
        font-weight: bold;
      }
    }

    > article {
      box-sizing: border-box;
      max-width: 100%;
      min-width: 280px;

      & > .#{ $C_PREFIX }-scroller
          > .#{ $SCROLLER_PREFIX }-box {
        padding: 0 24px 24px;
        box-sizing: border-box;
      }
    }

    > footer {
      padding: 8px 8px 8px 24px;
      box-sizing: border-box;
      line-height: normal;
      text-align: right;
      height: auto;
      width: 100%;

      > .#{ $BTN_PREFIX } {
        margin: 0 $gap-h-half;
      }
    }
  }

  &.#{ $C_PREFIX }-has-scroller {
    .#{ $C_PREFIX }-pop {
      & > header {
        border-bottom: $border-color $border-thin solid;
      }

      & > article {
        padding-top: 0;
        padding-bottom: 0;
      }

      & > footer {
        border-top: $border-color $border-thin solid;
      }
    }
  }

  &.#{ $C_PREFIX }-type-alert {
    .#{ $C_PREFIX }-pop {
      & > article {
        min-height: auto;
      }
    }
  }

  &.#{ $C_PREFIX }-type-simple {
    .#{ $C_PREFIX }-pop {

    }
  }

  &.#{ $C_PREFIX }-type-full {
    &.#{ $C_PREFIX }-has-scroller
        .#{ $C_PREFIX }-pop
        & > header {
      border-color: $primary-color;
    }

    .#{ $C_PREFIX }-pop {
      width: 530px;
      padding-top: 0;

      & > header {
        color: #fff;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: $primary-color;
        box-shadow: $shadow-lower;

        & > div {
          min-height: 36px;
        }

        .#{ $C_PREFIX }-header-nav {
          line-height: 1;
        }
      }

      & > article {
        height: 300px;
      }

      & > footer {
        border-top: $border-color $border-thin solid;
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
  }

  &.#{ $C_PREFIX }-theme-primary {

  }
}