@import "../../../scss/config.scss";
@import "../../../scss/extend.scss";
@import "../../../scss/name.scss";
@import "../../../scss/mixin.scss";

/**
 * fold 组件样式
 */

$C_PREFIX: #{ $COMP_FOLD };
$ICON_PREFIX: #{ $COMP_ICON };

.#{$C_PREFIX} {
  .#{$C_PREFIX}-dl {
    margin: 0;

    & > dt {
      position: relative;
      padding-right: $gap-v-double;
      cursor: default;

      .#{$C_PREFIX}-icon {
        position: absolute;
        height: 14px;
        margin: auto;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }

    & > dd {
      margin-left: 0;
      overflow: hidden;

      & > .#{$C_PREFIX}-transition {
        will-change: height;
        transition: all 500ms ease;
      }
    }
  }

  &.#{$C_PREFIX}-theme-primary {
    .#{$C_PREFIX}-dl {
      & > dt {
        padding: $gap-v-half $gap-v-double $gap-v-half 0;

        .#{$C_PREFIX}-icon {
          position: absolute;
          right: $gap-v-half;
        }
      }

      & > dd {
        & > .#{$C_PREFIX}-transition {
          & > .#{$C_PREFIX}-content {
            padding: $gap-v-half 0;
          }
        }
      }
    }
  }
}
