@import "../../../scss/config.scss";
@import "../../../scss/extend.scss";
@import "../../../scss/name.scss";
@import "../../../scss/mixin.scss";

/**
 * fold 组件样式
 */

$C_PREFIX: #{ $COMP_FOLD };
$ICON_PREFIX: #{ $COMP_ICON };

.#{$C_PREFIX} {
  background-color: #fff;

  .#{$C_PREFIX}-dl {
    margin: 0;

    & > dt {
      position: relative;
      padding-right: $gap-v-double;
      border-top: $border-color $border-thin solid;

      &:first-child {
        border-top: none;
      }

      .#{$C_PREFIX}-icon {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    & > dd {
      margin-left: 0;
      overflow: hidden;

      & > .#{$C_PREFIX}-transition {
        transition: all 500ms ease;
      }
    }
  }

  &.#{$C_PREFIX}-theme-primary {
    border: $border-color $border-thin solid;

    .#{$C_PREFIX}-dl {
      & > dt {
        padding: $gap-v $gap-v-double $gap-v $gap-v;

        .#{$C_PREFIX}-icon {
          position: absolute;
          right: $gap-v-half;
          top: $gap-v;
        }
      }

      & > dd {
        & > .#{$C_PREFIX}-transition {
          & > .#{$C_PREFIX}-content {
            padding: $gap-v;
          }
        }
      }
    }
  }
}
