div.welcome
  div.welcome-bg
    h3.z-text-center.z-m-t-double welcome to
    h2.z-text-center.z-m-t-double vue2do
  div.welcome-container
    z-row(align='start', justify='justify')
      z-col(:l='4',:xs='12').welcome-detail-col
        div.welcome-detail-col-title 响应
        p.welcome-detail-col-text
          | 适配任何设备，在移动端有更好的用户体验。
          | 支持五种尺寸的设备，让你不再担心适配不同设备的尺寸带来的烦恼。
      z-col(:l='4',:xs='12').welcome-detail-col
        div.welcome-detail-col-title 灵活
        p.welcome-detail-col-text
          | 组件和组件之间可以灵活组合，能满足任何需求。
          | 组件的功能丰富，能随意搭配成需要的功能
      z-col(:l='4',:xs='12').welcome-detail-col
        div.welcome-detail-col-title 待定
        p.welcome-detail-col-text （还没想到）