@import "../../../scss/config.scss";
@import "../../../scss/extend.scss";
@import "../../../scss/name.scss";

/**
 * form 组件样式
 */

$C_PREFIX: #{ $COMP_FORM };

.#{ $C_PREFIX } {
  &.#{ $C_PREFIX }-theme-primary {
    .col-sm-10 {
      .date-time-stage {
        width: 47.2%;
      }
    }
  }
}