/**
 * panel 组件样式
 */

@import "../../scss/config.scss";
@import "../../scss/extend.scss";
@import "../../scss/name.scss";
@import "../../scss/mixin.scss";

$C_PREFIX: #{ $COMP_MENU };
$ICON_PREFIX: #{ $COMP_ICON };

.#{$C_PREFIX} {
  position: relative;

  .#{$C_PREFIX}-trigger {
    display: none;
    background: #fff;
    padding: $gap-v;
    border-bottom: $color-border $border-thin solid;
  }

  .#{$C_PREFIX}-sub-fold {
    & > dl > dt {
      border-top: none;
    }
  }

   .#{$C_PREFIX}-stage > .#{$C_PREFIX}-sub-fold {
    margin-left: 0;
  }

  .#{$C_PREFIX}-sub-fold {
    margin-left: $gap-h;

    a {
      display: block;
    }
  }

  .#{$C_PREFIX}-close-panel {
    display: none;
  }

  @include device-type("s") {
    font-size: $h2;

    .#{$C_PREFIX}-sub-fold a {
      color: #fff;
    }

    .#{$C_PREFIX}-trigger {
      display: block;
    }

    .#{$C_PREFIX}-stage {
      box-sizing: border-box;
      transition: all 500ms ease-in-out;
      width: 100%;
      z-index: $z-index;

      &.#{$C_PREFIX}-animate-horizontal {
        position: fixed;
        padding: 15% 10% 10%;
        margin: auto;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .8);
        transform: translateX(-200%);
      }

      &.#{$C_PREFIX}-animate-vertical {
        overflow: hidden;
        background: rgba(0, 0, 0, .8);

        & > .#{$C_PREFIX}-close-panel {
          display: none;
        }
      }

      & > .#{$C_PREFIX}-close-panel {
        position: absolute;
        display: block;
        left: $gap-v;
        top: $gap-v;

        .#{$ICON_PREFIX}-close {
          font-size: 35px;
        }
      }

      .#{$ICON_PREFIX}-ali {
        color: #fff;
        font-size: 20px;
      }

      &.#{$C_PREFIX}-active {
        &.#{$C_PREFIX}-animate-horizontal {
          transform: translateX(0);
        }
      }

      .#{$C_PREFIX}-sub-fold {
        color: #fff !important;

        a {
          text-decoration: none;
        }

        & > dl > dt {
          padding: $gap-v 0;
          border-bottom: #fff $border-thin solid;
        }
      }
    }
  }
}