/**
 * shift 组件样式
 */

@import "../../scss/config.scss";
@import "../../scss/extend.scss";
@import "../../scss/name.scss";

$C_PREFIX: #{ $COMP_SHIFT };

.#{$C_PREFIX} {
  .#{$C_PREFIX}-before-display {
    display: none;
  }

  .#{$C_PREFIX}-before-move {
    display: none;
  }
  .#{$C_PREFIX}-after-move {}

  .#{$C_PREFIX}-before-opacity {
    display: none;
  }
  .#{$C_PREFIX}-after-opacity {}
}
