@import "../../scss/config.scss";
@import "../../scss/extend.scss";
@import "../../scss/name.scss";
@import "../../scss/mixin.scss";

/**
 * code 组件样式
 */

$C_PREFIX: #{ $COMP_CODE };

.#{$C_PREFIX} {
  font-size: $font-base;
  background-color: #fff;
  border: $primary-light-color $border-thin solid;
  border-radius: $border-radius;

  .#{$C_PREFIX}-stage {
    position: relative;
    padding: $gap-v $gap-h-double;
  }

  .#{$C_PREFIX}-header {
    color: $border-color;
    font-weight: bold;
    text-align: right;
    margin-bottom: $gutter-v-half;
  }

  .#{$C_PREFIX}-article {
    .#{$C_PREFIX}-pre {
      font-family: 'Roboto Mono', Monaco, courier, monospace;
      font-size: 1em;
      line-height: 16px;
      margin: 0 0 0 50px;
      -webkit-font-smoothing: initial;
      -moz-osx-font-smoothing: initial;
    }
  }

  .#{$C_PREFIX}-line-num {
    border-right: $border-thin * 2 $primary-color solid;
    font-family: 'Roboto Mono', Monaco, courier, monospace;
    line-height: 16px;
    text-align: right;

    position: absolute;
    top: 0;
    left: 0;

    padding-right: 5px;
    width: 24px;
  }
}