@import "../../../scss/config.scss";
@import "../../../scss/extend.scss";
@import "../../../scss/name.scss";

$C_PREFIX: #{ $COMP_LOADING };

@import './loading-type.scss';

/**
 * loading 组件样式
 */

.#{ $C_PREFIX } {
  display: inline-block;

  .#{ $C_PREFIX }-wrap {
    width: 100%;
    height: 100%;

    .#{ $C_PREFIX }-rotate {
      display: inline-block;
    }
  }

  &.#{ $C_PREFIX }-mark {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: $z-index - 50;

    .#{ $C_PREFIX }-wrap {
      position: relative;
      z-index: 2;
    }

    .#{ $C_PREFIX }-bg {
      @extend %center-position;

      background: rgba(256, 256, 256, .6);
      width: 100%;
      height: 100%;
    }
  }

  &.#{ $C_PREFIX }-theme-primary {
    &.#{ $C_PREFIX }-mark {
      .#{ $C_PREFIX }-spot {
        z-index: 2;
        position: absolute;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%)
      }

      .#{ $C_PREFIX }-rotate {
        position: absolute;
        z-index: 2;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%)
      }
    }

    .#{ $C_PREFIX }-spot{
      @extend %loading-type-spot;
    }

    .#{ $C_PREFIX }-rotate {
      @extend %loading-type-rotate;
    }
  }

  &.#{ $C_PREFIX }-theme-secondary {
    &.#{ $C_PREFIX }-mark {
      .#{ $C_PREFIX }-bg {
        @extend %center-position;

        background: $grey;
        opacity: .6;
      }

      .#{ $C_PREFIX }-rotate {
        position: absolute;
        z-index: 2;

        top: 50%;
        left: 50%;
      }
    }

    .#{ $C_PREFIX }-rotate {
      @extend %loading-type-rotate;

      background-color: #fff;
      border-radius: $border-radius;
      padding: $gap-v-half;

      .#{ $C_PREFIX }-icon i {
        color: $grey;
      }
    }
  }
}