/*
* icon 组件样式
*/

@import "../../scss/config.scss";
@import "../../scss/extend.scss";
@import "../../scss/name.scss";
@import "../../scss/mixin.scss";

$C_PREFIX: #{ $COMP_ICON };

@mixin theme-content($type, $type-color, $type-color-dark, $type-color-light, $type-color-darker, $type-color-lighter) {
  color: $type-color;
}

.#{$C_PREFIX} {
  display: inline-block;
  line-height: 0;
  color: $color-primary;
  user-select: none;

  &-stage {
    display: inline-block;
    line-height: 0;
  }

  &-size {
    &-xxs {
      font-size: 12px;
    }

    &-xs {
      font-size: 14px;
    }

    &-s {
      font-size: 20px;
    }

    &-m {
      font-size: 30px;
    }

    &-l {
      font-size: 40px;
    }

    &-xl {
      font-size: 50px;
    }
  }

  &-ali {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-success {
  @include theme-style('success');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-danger {
  @include theme-style('danger');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-warning {
  @include theme-style('warning');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-blue {
  @include theme-style('blue');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-orange {
  @include theme-style('orange');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-light {
  @include theme-style('light');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-dark {
  @include theme-style('dark');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-black {
  @include theme-style('black');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-white {
  @include theme-style('white');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-grey {
  @include theme-style('grey');
}
