@import "../../scss/config.scss";
@import "../../scss/extend.scss";
@import "../../scss/name.scss";

/*
* icon 组件样式
*/

$C_PREFIX: #{ $COMP_ICON };

.#{$C_PREFIX} {
  display: inline-block;
  line-height: 0;

  &-stage {
    display: inline-block;
    line-height: 0;
  }

  &-size {
    &-xxs {
      font-size: 12px;
    }

    &-xs {
      font-size: 14px;
    }

    &-s {
      font-size: 20px;
    }

    &-m {
      font-size: 30px;
    }

    &-l {
      font-size: 40px;
    }

    &-xl {
      font-size: 50px;
    }
  }

  &-ali {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
}