@import "../../scss/config.scss";
@import "../../scss/extend.scss";
@import "../../scss/name.scss";

/*
* icon 组件样式
*/

$C_PREFIX: #{ $COMP_ICON };

.#{$C_PREFIX} {
  display: inline-block;
  line-height: 1;

  .#{$C_PREFIX}-ali {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }

  .#{$C_PREFIX}-xxs {
    font-size: 12px;
  }

  .#{$C_PREFIX}-xs {
    font-size: 14px;
  }

  .#{$C_PREFIX}-s {
    font-size: 20px;
  }

  .#{$C_PREFIX}-m {
    font-size: 30px;
  }

  .#{$C_PREFIX}-l {
    font-size: 40px;
  }

  .#{$C_PREFIX}-xl {
    font-size: 50px;
  }
}