@import '../../scss/config.scss';
@import '../../scss/extend.scss';
@import '../../scss/name.scss';
@import '../../scss/mixin.scss';

$C_PREFIX: #{$COMP_UPLOAD};

.#{$C_PREFIX} {
  $upload-img-width: 60px;

  &-pick {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: $upload-img-width;
    height: $upload-img-width;
    border: $divider;
    margin: 0 $gutter $gutter 0;
    box-sizing: border-box;

    &-plus {
      @extend %center-position;

      text-align: center;
      width: 30px;
      height: 30px;
      font-size: 30px;
    }

    &-input {
      position: absolute;
      cursor: default;
      opacity: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  &-showcase {
    display: inline-block;
    vertical-align: middle;

    &-ele {
      position: relative;
      width: $upload-img-width;
      height: $upload-img-width;
      border: $divider;
      margin: 0 $gutter $gutter 0;
    }

    &-delete {
      position: absolute;
      top: -10px;
      right: -10px;
      cursor: pointer;
      z-index: 1;

      .fa-times-circle {
        font-size: 18px;
      }
    }

    &-content {
      overflow: hidden;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      & > img {
        width: 100%;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  &-preview {
    @extend %center-position;

    position: fixed;
    overflow: hidden;
    width: 80%;
    height: calc(100vh * 80%);
    padding: $gutter;
    box-sizing: border-box;
    z-index: $z-index-upload-preview;
    display: flex;
    align-items: center;
    justify-content: center;

    & > img {
      width: 100%;
      vertical-align: middle;
    }

    &-layover {
      @extend %center-position;

      background-color: rgba(#000, 0.6);
      position: fixed;
      z-index: -1;
    }

    &-close {
      position: absolute;
      bottom: 30px;
    }

    &-delete {
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }

  &-hint {
    display: inline-block;
    vertical-align: middle;
    max-width: 150px;
    margin-left: $gap-h;
  }

  &-crop {
    @extend %center-position;

    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: $z-index-upload-preview;

    &-operation {
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
    }
  }
}

@include device-type('xs') {
  .#{$C_PREFIX} {
    &-crop {
      width: 100%;
      height: 100vh;
    }
  }
}
