/**
 * pop 组件样式
 */

@import "../../../scss/config.scss";
@import "../../../scss/extend.scss";
@import "../../../scss/name.scss";
@import "../../../scss/mixin.scss";

$C_PREFIX: #{ $COMP_POP };

.#{$C_PREFIX} {
  position: fixed;

  &.#{$C_PREFIX}-part {
    position: absolute;
  }
}