@import "../../../scss/config.scss";
@import "../../../scss/extend.scss";
@import "../../../scss/name.scss";
@import "../../../scss/mixin.scss";

/**
 * pop 组件样式
 */

$C_PREFIX: #{ $COMP_POP };

.#{ $C_PREFIX } {
  position: fixed;

  &.#{ $C_PREFIX }-part {
    position: absolute;
  }

  &.#{ $C_PREFIX }-direction-top {
    top: 0;
  }

  &.#{ $C_PREFIX }-direction-bottom {
    bottom: 0;
  }

  &.#{ $C_PREFIX }-direction-left {
    left: 0;
  }

  &.#{ $C_PREFIX }-direction-right {
    right: 0;
  }
}