.#{$C_PREFIX} {
  &.#{$C_PREFIX}-theme-primary {
    vertical-align: middle;
    border-radius: $border-radius;

    &.#{$C_PREFIX}-multiple-stage {
      .#{ $C_OPT_PREFIX }-li > span {
        @extend %text-omit;
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 25px);
      }
    }

    &.#{$C_PREFIX}-selecting {
      .#{$C_PREFIX}-selected-box {
        &::after {
          opacity: 1;
        }
      }
    }

    &.#{$C_PREFIX}-focusing {
      .#{$C_PREFIX}-selected-box {
        &::after {
          opacity: 1;
        }
      }
    }

    & > .#{$C_PREFIX}-selected-box {
      &::after {
        box-shadow: $shadow-lower;
        content: '';

        opacity: 0;
        transition: opacity 300ms ease-out;

        width: 100%;
        height: 100%;

        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
      }
    }

    .#{$C_PREFIX}-opt-comp {
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border: none;

      & > .#{ $C_OPT_PREFIX }-li:first-child {
        border-top: $border-lightest-color $border-thin solid;
      }
    }
  }
}

@include device-type("s") {
  .#{$C_PREFIX} {
    width: 100%;
  }
}
