/*
* check 组件样式
*/

@import "../../scss/config.scss";
@import "../../scss/extend.scss";
@import "../../scss/name.scss";
@import "../../scss/mixin.scss";

$C_PREFIX: #{$COMP_CHECK};
$C_ICON_PREFIX: #{$COMP_ICON};

@mixin theme-content($type-color, $type-dark-color) {
  & > .#{$C_PREFIX}-opt-row {
    & > .#{$C_PREFIX}-opt-col {
      & > .#{$C_PREFIX}-box {
        &.#{$C_PREFIX}-checked {
          & > .#{$C_PREFIX}-icon {
            & > .#{$C_ICON_PREFIX} {
              color: $type-color;
            }
          }
        }
      }
    }
  }

  .#{$C_PREFIX}-opt-check-all.#{$C_PREFIX}-checked {
    & > .#{$C_ICON_PREFIX} {
      color: $type-color
    }
  }
}

.#{$C_PREFIX} {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  &-disabled {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
  }

  & > .#{$C_PREFIX}-opt-row {
    & > .#{$C_PREFIX}-opt-col {
      display: inline-block;
      line-height: 0;

      & > .#{$C_PREFIX}-box {
        display: inline-block;

        &.#{$C_PREFIX}-checked {
          & > .#{$C_PREFIX}-icon {
            & > .#{$C_ICON_PREFIX} {
              color: $color-primary;
            }
          }
        }

        & > .#{$C_PREFIX}-icon {
          position: relative;
          display: inline-block;
          vertical-align: middle;
          line-height: 0;

          & > .#{$C_ICON_PREFIX} {
            vertical-align: middle;

            .#{$C_ICON_PREFIX}-ali {
              text-align: center;
            }
          }
        }

        & > .#{$C_PREFIX}-lable {
          display: inline-block;
          vertical-align: middle;
          line-height: 1;
          margin-left: $gap-h-half;
          cursor: default;
        }
      }
    }
  }

  .#{$C_PREFIX}-opt-check-all {
    .#{$C_PREFIX}-checked {
      & > .#{$C_ICON_PREFIX} {
        color: $color-primary
      }
    }

    .#{$C_PREFIX}-lable {
      cursor: default;
      margin-left: $gutter-h-half;
    }
  }
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-success {
  @include theme-style('success');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-danger {
  @include theme-style('danger');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-warning {
  @include theme-style('warning');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-orange {
  @include theme-style('orange');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-blue {
  @include theme-style('blue');
}
