/**
 * check 组件的 material UI 样式
 */

@import "../../scss/name.scss";
@import "../../scss/mixin.scss";

$C_PREFIX: #{$COMP_CHECK};
$C_ICON_PREFIX: #{$COMP_ICON};
$C_MOTION_RIP_PREFIX: #{$COMP_MOTION_RIP};

@mixin theme-content($type, $type-color, $type-dark-color, $type-light-color) {
  & > .#{$C_PREFIX}-opt-row {
    & > .#{$C_PREFIX}-opt-col {
      & > .#{$C_PREFIX}-box {
        &.#{$C_PREFIX}-checked {
          .#{$C_ICON_PREFIX} {
            color: $type-color;
          }

          .#{$C_PREFIX}-motion-rip::after {
            background-color: rgba($type-color, .3);
          }

          & > .#{$C_PREFIX}-icon {
            & > .#{$C_PREFIX}-rip {
              background-color: rgba($type-color, .2);

              & > .#{$C_MOTION_RIP_PREFIX}-spot {
                background-color: rgba($type-color, .8);
              }
            }
          }
        }
      }
    }
  }
}

.#{$C_PREFIX}.#{$C_PREFIX}-ui-material {
  .#{$C_PREFIX}-motion-rip {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &:after {
      content: "";
      position: absolute;
      background-color: rgba($grey-light, .3);
      top: 50%;
      left: 50%;
      width: 200%;
      height: 200%;
      border-radius: 100%;
      transform: translate(-50%, -50%) scaleX(1);
      animation: #{$C_PREFIX}-motion-rip 2s infinite ease-in-out;
    }

    @keyframes #{$C_PREFIX}-motion-rip {
      0% {
        transform: translate(-50%, -50%) scale(1);
      }
      50% {
        transform: translate(-50%, -50%) scale(.8);
      }
      100% {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  & > .#{$C_PREFIX}-opt-row {
    & > .#{$C_PREFIX}-opt-col {
      display: inline-block;
      line-height: 0;

      & > .#{$C_PREFIX}-box {
        &:focus {
          outline: none
        }

        & > .#{$C_PREFIX}-icon {
          & > .#{$C_ICON_PREFIX} {
            font-size: 18px;
          }

          & > .#{$C_PREFIX}-rip {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($grey-light, .2);

            & > .#{$C_MOTION_RIP_PREFIX}-spot {
              height: 150%;
              width: 150%;
              background-color: rgba($grey-light, .8);
            }
          }
        }

        &.#{$C_PREFIX}-checked {
          .#{$C_ICON_PREFIX} {
            color: $color-primary;
          }

          .#{$C_PREFIX}-motion-rip::after {
            background-color: rgba($color-primary, .3);
          }

          & > .#{$C_PREFIX}-icon {
            & > .#{$C_PREFIX}-rip {
              background-color: rgba($color-primary, .2);

              & > .#{$C_MOTION_RIP_PREFIX}-spot {
                background-color: rgba($color-primary, .8);
              }
            }
          }
        }
      }
    }
  }
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-success {
  @include theme-style('success');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-danger {
  @include theme-style('danger');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-warning {
  @include theme-style('warning');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-orange {
  @include theme-style('orange');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-blue {
  @include theme-style('blue');
}
