/*
* check 组件样式
*/

@import "../../scss/config.scss";
@import "../../scss/extend.scss";
@import "../../scss/name.scss";
@import "../../scss/mixin.scss";

$C_PREFIX: #{$COMP_CHECK};
$C_ICON_PREFIX: #{$COMP_ICON};

@mixin theme-content($type, $type-color, $type-dark-color, $type-light-color) {
  .#{$C_PREFIX}-opt-check-all.#{$C_PREFIX}-checked {
    & > .#{$C_ICON_PREFIX} {
      color: $type-color
    }
  }
}

.#{$C_PREFIX} {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  &-vertical {
    .#{$C_PREFIX}-opt-row {
      margin-left: $gutter-h-double;
    }
  }

  & > .#{$C_PREFIX}-opt-row {
    & > .#{$C_PREFIX}-opt-col {
      display: inline-block;
      line-height: 0;
    }
  }

  .#{$C_PREFIX}-overlay {
    background-color: rgba(#fff, 0);
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .#{$C_PREFIX}-box,
  .#{$C_PREFIX}-opt-check-all {
    position: relative;
    display: inline-block;
    margin: 0 $gutter-h-double $gutter-h-double 0;

    &.#{$C_PREFIX}-checked {
      & > .#{$C_PREFIX}-icon {
        & > .#{$C_ICON_PREFIX} {
          color: $color-primary;
        }
      }
    }

    &.#{$C_PREFIX}-disabled {
      & > .#{$C_PREFIX}-lable {
        color: $color-text-dark-hint;
      }
    }

    & > .#{$C_PREFIX}-lable {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      margin-left: $gap-h;
      cursor: default;
    }
  }

  .#{$C_PREFIX}-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;

    & > .#{$C_ICON_PREFIX} {
      vertical-align: middle;

      .#{$C_ICON_PREFIX}-ali {
        text-align: center;
      }
    }
  }
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-success {
  @include theme-style('success');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-danger {
  @include theme-style('danger');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-warning {
  @include theme-style('warning');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-orange {
  @include theme-style('orange');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-blue {
  @include theme-style('blue');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-light {
  @include theme-style('light');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-dark {
  @include theme-style('dark');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-grey {
  @include theme-style('grey');
}
