@import "../../../scss/config.scss";
@import "../../../scss/extend.scss";
@import "../../../scss/name.scss";
@import "../../../scss/mixin.scss";

/**
 * menu 组件样式
 */

$C_PREFIX: #{ $COMP_MENU };
$ICON_PREFIX: #{ $COMP_ICON };

.#{$C_PREFIX} {
  position: relative;

  .#{$C_PREFIX}-trigger {
    display: none;
    background: #fff;
    padding: $gap-v;
    border-bottom: $border-color $border-thin solid;
  }

  .#{$C_PREFIX}-stage
      > .#{$C_PREFIX}-transition-container
      > .#{$C_PREFIX}-sub-fold {
    margin-left: 0;

    .#{$C_PREFIX}-sub-fold {
      margin-left: $gap-h;

      a {
        display: block;
      }

      & > dl > dt {
        border-top: none;
      }
    }
  }

  .#{$C_PREFIX}-close-menu {
    display: none;
  }

  @include device-type("<l") {
    font-size: $h3;

    .#{$C_PREFIX}-trigger {
      display: block;
      font-size: $h2;
    }

    .#{$C_PREFIX}-stage {
      box-sizing: border-box;
      transition: all 500ms ease-in-out;
      width: 100%;
      z-index: $z-index;

      &.#{$C_PREFIX}-animate-horizontal {
        position: fixed;
        padding: 15% 10% 10%;
        margin: auto;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .8);
        transform: translateX(-200%);
      }

      &.#{$C_PREFIX}-animate-vertical {
        overflow: hidden;
        background: rgba(0, 0, 0, .8);

        & > .#{$C_PREFIX}-transition-container
            > .#{$C_PREFIX}-close-menu {
          display: none;
        }

        & > .#{$C_PREFIX}-transition-container
            > .#{$C_PREFIX}-sub-fold {
          padding: $gap-v-triple $gap-h-triple 40px;
        }

        .router-link-active {
          color: $primary-color;
        }

        .#{$C_PREFIX}-sub-fold {
          padding: 0 $gap-h;
        }
      }

      & > .#{$C_PREFIX}-transition-container
          > .#{$C_PREFIX}-close-menu {
        position: absolute;
        display: block;
        left: $gap-v;
        top: $gap-v;

        .#{$ICON_PREFIX}-close {
          font-size: 30px;
        }
      }

      &.#{$C_PREFIX}-active {
        &.#{$C_PREFIX}-animate-horizontal {
          transform: translateX(0);
        }
      }


      .#{$ICON_PREFIX}-ali {
        color: #fff;
        font-size: 20px;
      }

      .#{$C_PREFIX}-sub-fold {
        color: #fff !important;

        a {
          color: #fff;
          text-decoration: none;
        }

        & > dl > dt {
          padding: $gap-v 0;
          border-bottom: $border-color $border-thin solid;
        }
      }
    }
  }
}