@import "../../../scss/config.scss";
@import "../../../scss/extend.scss";
@import "../../../scss/name.scss";
@import "../../../scss/mixin.scss";

/**
 * menu 组件样式
 */

$C_PREFIX: #{ $COMP_MENU };
$ICON_PREFIX: #{ $COMP_ICON };

.#{$C_PREFIX} {
  .#{$C_PREFIX}-trigger {
    display: none;
    background: #fff;
    padding: $gap-v;
    border-bottom: $border-color $border-thin solid;
  }

  .#{$C_PREFIX}-sub-fold {
    & > dl > dt {
      border-top: none;
    }
  }

   .#{$C_PREFIX}-stage > .#{$C_PREFIX}-sub-fold {
    margin-left: 0;
  }

  .#{$C_PREFIX}-sub-fold {
    margin-left: $gap-h;

    a {
      display: block;
    }
  }

  @include device-type("<l") {
    font-size: $h2;

    .#{$C_PREFIX}-trigger {
      display: block;
    }

    .#{$C_PREFIX}-stage {
      position: fixed;
      box-sizing: border-box;
      transform: translateX(-1000%);
      background: rgba(0, 0, 0, .8);
      transition: transform 500ms ease-in-out;
      width: 100%;
      padding: 15% 10% 10%;
      margin: auto;
      top: 0;
      bottom: 0;
      z-index: $z-index;

      .#{$ICON_PREFIX}-ali {
        color: #fff;
        font-size: 20px;
      }

      & > .#{$C_PREFIX}-close-menu {
        position: absolute;
        left: $gap-v;
        top: $gap-v;

        .#{$ICON_PREFIX}-close {
          font-size: 35px;
        }
      }

      &.#{$C_PREFIX}-active {
        transform: translateX(0);
      }

      .#{$C_PREFIX}-sub-fold {
        color: #fff !important;

        a {
          text-decoration: none;
        }

        & > dl > dt {
          padding: $gap-v 0;
          border-bottom: #fff $border-thin solid;
        }
      }
    }
  }
}