/*
* img 组件样式
*/

@import '../../scss/config.scss';
@import '../../scss/extend.scss';
@import '../../scss/name.scss';
@import '../../scss/mixin.scss';
@import '../../scss/var.scss';

$C_PREFIX: #{$COMP_IMG};

.#{$C_PREFIX} {
  display: inline-block;
  color: var(--z-color-grey-light);

  &-content {
    width: 100%;
    vertical-align: middle;
  }

  &-skeleton {
    background-color: var(--z-color-grey-light);
  }
}
