/**
 * btn 组件样式
 */

@import "../../scss/config.scss";
@import "../../scss/extend.scss";
@import "../../scss/name.scss";
@import "../../scss/mixin.scss";

$C_PREFIX: #{$COMP_BTN};

@mixin btn-button($color) {
  background-color: $color;
}

@mixin btn-text($color) {
  color: $color;
}

@mixin btn-outline($color) {
  border-color: $color;
  color: $color;
}

@mixin theme-content($type, $type-color, $type-color-dark, $type-color-light, $type-color-darker, $type-color-lighter) {
  &.#{$C_PREFIX}-type-button,
  &.#{$C_PREFIX}-type-float {
    & > .#{$C_PREFIX}-ele {
      @include btn-button($type-color);
    }
  }

  &.#{$C_PREFIX}-type-text {
    & > .#{$C_PREFIX}-ele {
      @include btn-text($type-color);
    }
  }

  &.#{$C_PREFIX}-type-outline {
    & > .#{$C_PREFIX}-ele {
      @include btn-outline($type-color);
    }
  }
}

.#{$C_PREFIX} {
  position: relative;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  & > .#{$C_PREFIX}-ele {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    min-width: 64px;
    box-sizing: border-box;
    border-radius: $border-radius;
    color: #fff;
    text-align: center;
    font-size: $font-base;
    overflow: hidden;
    line-height: 1;
    white-space: nowrap;

    transform: rotate(0);
    transition-duration: 150ms;
    transition-property: background-color, border-color, box-shadow, color;
    transition-timing-function: ease-in-out;

    & > .#{$C_PREFIX}-ele-border {
      border: rgba(0, 0, 0, 0) $border-thin solid;
      padding: $gutter-v $gap-h;
    }

    .#{$C_PREFIX}-loading {
      position: absolute;
      left: $gap-v;
      z-index: 2;
    }
  }

  & > a.#{$C_PREFIX}-ele {
    width: 100%;
  }

  &.#{$C_PREFIX}-block {
    display: block;
    width: 100%;
  }

  &.#{$C_PREFIX}-size {
    &-m > .#{$C_PREFIX}-ele {
      min-width: 108px;
    }

    &-l > .#{$C_PREFIX}-ele {
      min-width: 128px;
    }

    &.#{$C_PREFIX}-type-float {
      &-m > .#{$C_PREFIX}-ele {
        width: 56px;
        height: 56px;
      }

      &-l > .#{$C_PREFIX}-ele {
        width: 72px;
        height: 72px;
      }
    }
  }

  &.#{$C_PREFIX}-disabled {
    .#{$C_PREFIX}-ele {
      color: rgba(0, 0, 0, .4);
      background-color: rgba(0, 0, 0, .12);
    }

    .#{$C_PREFIX}-read-only-shadow {
      @extend %center-position;

      background-color: rgba(255, 255, 255, .5);
      border-radius: $border-radius;
      cursor: default;
      z-index: 1;
    }
  }

  &.#{$C_PREFIX}-type {
    &-button,
    &-float {
      & > .#{$C_PREFIX}-ele {
        border-radius: $border-radius;

        @include btn-button($color-primary);
      }
    }

    &-float {
      & > .#{$C_PREFIX}-ele {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        box-sizing: border-box;
        padding: 0;
        box-shadow: $shadow;
        min-width: auto;

        &::after {
          content: " ";
          display: inline-block;
          vertical-align: middle;
          height: 100%;
          width: 0;
        }

        .#{$C_PREFIX}-ele-border {
          padding-top: 12px;
          padding-bottom: 12px
        }
      }
    }

    &-text {
      & > .#{$C_PREFIX}-ele {
        background-color: #fff;

        @include btn-text($color-primary);
      }
    }

    &-outline {
      & > .#{$C_PREFIX}-ele {
        background-color: #fff;
        border-style: solid;
        border-width: $border-thin;

        @include btn-outline($color-primary);
      }
    }
  }

  &.#{$C_PREFIX}-radius {
    &-none > .#{$C_PREFIX}-ele {
      border-radius: 0;
    }

    &-m > .#{$C_PREFIX}-ele {
      border-radius: 10px;
    }

    &-l > .#{$C_PREFIX}-ele {
      border-radius: 30px;
    }
  }

  .#{$C_PREFIX}-value-show {
    display: inline-block;
  }
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-success {
  @include theme-style('success');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-danger {
  @include theme-style('danger');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-blue {
  @include theme-style('blue');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-warning {
  @include theme-style('warning');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-orange {
  @include theme-style('orange');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-grey {
  @include theme-style('grey');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-light {
  @include theme-style('light');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-black {
  @include theme-style('black');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-white {
  @include theme-style('white');
}

.#{$C_PREFIX}.#{$C_PREFIX}-theme-dark {
  @include theme-style('dark');
}
