/**
 * btn 组件的 material UI 样式
 */

@import "../../scss/name.scss";

$C_PREFIX: #{$COMP_BTN};

.#{$C_PREFIX}.#{$C_PREFIX}-ui-material {
  &:focus {
    outline: none;
  }

  &.#{$C_PREFIX}-type-button,
  &.#{$C_PREFIX}-type-float {
    & > .#{$C_PREFIX}-ele {
      box-shadow: $shadow-lower;

      &:hover {
        box-shadow: $shadow;
      }
    }
  }

  &.#{$C_PREFIX}-type-float {
    & > .#{$C_PREFIX}-ele {
      & > .#{$comp-prefix}-css-motion-rip {
        &::after {
          height: 100%;
          width: 100%;
          border-radius: 100%;
        }
      }
    }
  }

  &.#{$C_PREFIX}-disabled {
    .#{$C_PREFIX}-ele {
      color: rgba(0, 0, 0, .4);
      background-color: rgba(0, 0, 0, .12);
    }

    &.#{$C_PREFIX}-type-button,
    &.#{$C_PREFIX}-type-float {
      & > .#{$C_PREFIX}-ele {
        &:hover {
          box-shadow: $shadow-lower;
        }
      }
    }
  }
}
