// btn scss util

@mixin btn-button($color) {
  background-color: $color;
}

@mixin btn-flat($color) {
  color: $color;
}

@mixin btn-outline($color) {
  border-color: $color;
  color: $color;
}

@mixin theme-style($type) {
  $type-color: $primary-color;

  @if $type=='primary' {
    $type-color: $primary-color;
  }
  @else if $type=='danger' {
    $type-color: $danger-color;
  }
  @else if $type=='success' {
    $type-color: $success-color;
  }
  @else if $type=='waring' {
    $type-color: $warning-color;
  }
  @else if $type=='blue' {
    $type-color: $blue-color;
  }
  @else {
    $type-color: $orange-color;
  }

  &.#{$C_PREFIX}-type-button,
  &.#{$C_PREFIX}-type-float {
    & > .#{$C_PREFIX}-ele {
      @include btn-button($type-color);
    }
  }

  &.#{$C_PREFIX}-type-flat {
    & > .#{$C_PREFIX}-ele {
      @include btn-flat($type-color);
    }
  }

  &.#{$C_PREFIX}-type-outline {
    & > .#{$C_PREFIX}-ele {
      @include btn-outline($type-color);
    }
  }
}
