/**
 * 组件公共类样式
 */

@import "../config.scss";
@import "../extend.scss";
@import "../mixin.scss";

$C_PREFIX: #{$comp-prefix}-css;

.#{$C_PREFIX}-common {
  -webkit-tap-highlight-color: transparent;
}

.#{$C_PREFIX}-ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.#{$C_PREFIX}-text-left {
  text-align: left;
}

.#{$C_PREFIX}-text-center {
  text-align: center;
}

.#{$C_PREFIX}-text-right {
  text-align: right;
}

.#{$C_PREFIX}-clear-fix {
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}

.#{$C_PREFIX}-float-left {
  float: left;
}

.#{$C_PREFIX}-float-right {
  float: right;
}

.#{$C_PREFIX}-vertical-middle {
  vertical-align: middle;
}

.#{$C_PREFIX}-display-block {
  display: block;
}

.#{$C_PREFIX}-display-inline-block {
  display: inline-block;
}

.#{$C_PREFIX}-cursor-pointer {
  cursor: pointer;
}

.#{$C_PREFIX}-hide {
  display: none !important;
}

.#{$C_PREFIX}-invisible {
  visibility: hidden !important;
}

.#{$C_PREFIX}-transition {
  @extend %transition;
}

.#{$C_PREFIX}-text-omit {
  @extend %text-omit;
}

.#{$C_PREFIX}-device-size {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  z-index: -$z-index;

  &::after {
    content: "xl";
  }

  @include device-type("l") {
    &::after {
      content: "l";
    }
  }

  @include device-type("m") {
    &::after {
      content: "m";
    }
  }

  @include device-type("s") {
    &::after {
      content: "s";
    }
  }

  @include device-type("xs") {
    &::after {
      content: "xs";
    }
  }
}

.#{$C_PREFIX}-motion-rip {
  background-color: rgba(0, 0, 0, .2);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, .3);
    top: 50%;
    left: 50%;
    width: 80%;
    height: 200%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    animation: #{$C_PREFIX}-motion-rip 2s infinite ease-in-out;
  }

  @keyframes #{$C_PREFIX}-motion-rip {
    0% {
      transform: translate(-50%, -50%) scaleX(1);
    }
    50% {
      transform: translate(-50%, -50%) scaleX(.8);
    }
    100% {
      transform: translate(-50%, -50%) scaleX(1);
    }
  }
}