@import "../../../scss/config.scss";
@import "../../../scss/extend.scss";
@import "../../../scss/name.scss";
@import "../../../scss/mixin.scss";

/**
 * pop 组件样式
 */

$C_PREFIX: #{ $COMP_MESSAGE };

.#{ $C_PREFIX } {
  position: absolute;
  z-index: $z-index-message;

  & > .#{ $C_PREFIX }-pop {
    max-width: 100px;
    background: #fff;
    overflow: hidden;
    transform: rotate(0);
    box-shadow: $shadow;
    padding: $gap-v-triple / 2;
    border-radius: $border-radius;
  }
}