mixin section(name, title)
  section
    router-link.anchor-title(
      id=name
      tag='h1'
      ':to'='anchorLink("' + name + '")'
    )
      span(@click='goAnchor') #{ title }
    if block
      block
    else
      p 暂无内容