/**
 * input material UI 组件样式
 */

@import "../../scss/config.scss";
@import "../../scss/extend.scss";
@import "../../scss/name.scss";
@import "../../scss/mixin.scss";

$C_PREFIX: #{ $COMP_INPUT };

$INPUT_HEIGHT: 36px;
$INPUT_WIDTH: 170px;
$INPUT_BORDER_WIDTH: 1px;

.#{$C_PREFIX}.#{$C_PREFIX}-ui-material {
  &:hover {
    .#{$C_PREFIX}-wrap {
      & > .#{$C_PREFIX}-wrap-border {
        border-color: $border-dark-color;
      }

      border-color: $border-dark-color;
    }

    &.#{$C_PREFIX}-type-area {
      .#{$C_PREFIX}-wrap {
        border: $border-dark-color $border-thin solid;

        & > .#{$C_PREFIX}-wrap-border {
          border: $border-dark-color $border-thin solid;
        }
      }
    }
  }

  &.#{$C_PREFIX}-type-area {
    & > .#{$C_PREFIX}-wrap {
      .#{$C_PREFIX}-edit-box {
        $gutter-v: 13px;
        $gutter-v-triple: 26px;

        padding-top: $gutter-v-triple;

        & > .#{$C_PREFIX}-edit-box-input {
          padding: 0 $gutter-v $gap-v;
        }

        &-placeholder {
          padding-top: $gutter-v-triple;
          padding-left: $gutter-v;
          padding-right: $gutter-v;
        }

        &-label {
          padding-top: 12px;
          padding-left: $gutter-v;
          padding-right: $gutter-v;

          &-float {
            top: -8px;
          }
        }
      }
    }
  }

  & > .#{$C_PREFIX}-wrap {
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: $border-thick;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: -1px;
      background-color: rgba(#000, 0);
      z-index: 1;
      transform: scaleX(0);
      transition: all 300ms ease-out;
    }

    &.#{$C_PREFIX}-error-border {
      outline: none;
    }

    &.#{$C_PREFIX}-editting {
      &::after {
        width: 100%;
        background-color: $primary-color;
        transform: scaleX(1);
      }

      & > .#{$C_PREFIX}-wrap-border {
        border-color: $primary-color !important;
      }

      border-color: $primary-color !important;
    }

    & > .#{$C_PREFIX}-wrap-border {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      border-bottom: rgba(#000, 0) $border-thin solid;
      transition: all 100ms ease-out;
    }

    .#{$C_PREFIX}-edit-box {
      & > .#{$C_PREFIX}-edit-box-input {
        padding: $gap-v 0;
      }

      &-placeholder {
        padding: $gap-v 0;
      }

      &-label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: $gap-v 0;
        transition: all 150ms ease-in-out;
        color: $grey;

        &-float {
          color: $primary-color;
          top: -22px;
          font-size: $h5;
        }
      }
    }

    .#{$C_PREFIX}-auto-completion {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}
