/**
 * input 组件样式
 */

@import "../../scss/config.scss";
@import "../../scss/extend.scss";
@import "../../scss/name.scss";
@import "../../scss/mixin.scss";

$C_PREFIX: #{ $COMP_INPUT };

$INPUT_HEIGHT: 36px;
$INPUT_WIDTH: 170px;
$INPUT_BORDER_WIDTH: 1px;
$input-gap-v: 8px;

.#{$C_PREFIX} {
  display: inline-block;
  vertical-align: middle;
  width: $INPUT_WIDTH;
  position: relative;
  font-size: $h3;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &.#{$C_PREFIX}-block {
    width: 100%;
  }

  &.#{$C_PREFIX}-type-area {
    & > .#{$C_PREFIX}-wrap {
      border: $divider;
      border-radius: $border-radius;

      & > .#{$C_PREFIX}-wrap-border {
        border-radius: $border-radius;
        border: rgba(#000, 0) $border-thin solid;
      }
    }
  }

  & > .#{$C_PREFIX}-limit-txt {
    padding: $gap-v 0;
    text-align: right;
    font-size: $h5;
    color: gery-light;
  }

  & > .#{$C_PREFIX}-wrap {
    position: relative;
    border-bottom: $divider;
    background-color: #fff;
    box-sizing: border-box;

    .#{$C_PREFIX}-edit-box-start {
      & > .#{$C_PREFIX}-icon-stage {
        line-height: $INPUT_HEIGHT - $INPUT_BORDER_WIDTH * 2;
        padding-left: $gap-h;
      }
    }

    .#{$C_PREFIX}-edit-box {
      position: relative;
      line-height: 1.5em;
      color: $grey-dark;

      &.#{$C_PREFIX}-edit-box-multiline {
        & > textarea {
          position: absolute;
          height: 100%;
          top: 0;
          left: 0;
          overflow: hidden;
        }

        & > pre {
          font: inherit;
          margin: 0;
          display: block;
          visibility: hidden;
          white-space: pre-wrap;
          word-break: break-all;
        }
      }

      & > .#{$C_PREFIX}-edit-box-input {
        border: none;
        width: 100%;
        font: inherit;
        color: inherit;
        box-sizing: border-box;
        display: block;

        &:focus {
          outline: none;
          border: none;
        }
      }

      & > input,
      & > textarea {
        transform: rotate(0); // HACK: 触发 placeholder 回流
        background-color: transparent;
      }

      & > textarea {
        resize: none;
      }

      &-placeholder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        color: $color-grey;
        box-sizing: border-box;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  .#{$C_PREFIX}-tip {
    margin-top: $gap-v;
    font-size: $h5;
    color: $grey;
    position: relative;

    &::after {
      content: 'd';
      visibility: hidden;
    }

    &-error,
    &-helper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    &-error {
      color: $color-danger;
      width: 100%;
      background: #fff;
    }
  }
}

@include device-type("s") {
  .#{$C_PREFIX} {
    width: 100%;
  }
}
