/**
 * input 组件样式
 */

@import "../../scss/config.scss";
@import "../../scss/extend.scss";
@import "../../scss/name.scss";
@import "../../scss/mixin.scss";

$C_PREFIX: #{ $COMP_INPUT };

$INPUT_HEIGHT: 36px;
$INPUT_WIDTH: 170px;
$INPUT_BORDER_WIDTH: 1px;
$input-gap-v: 8px;

.#{$C_PREFIX} {
  display: inline-block;
  vertical-align: middle;
  width: $INPUT_WIDTH;
  position: relative;

  &.#{$C_PREFIX}-type-area {
    .#{$C_PREFIX}-wrap {
      border: $border-color $border-thin solid;
      border-radius: $border-radius;

      & > .#{$C_PREFIX}-wrap-border {
        border-radius: $border-radius;
        border: rgba(#000, 0) $border-thin solid;
      }
    }
  }

  .#{$C_PREFIX}-limit-txt{
    padding: $gap-v 0;
    text-align: right;
  }

  .#{$C_PREFIX}-wrap {
    position: relative;
    border-bottom: $border-color $border-thin solid;
    background-color: #fff;
    box-sizing: border-box;
    transition: all 100ms ease-out;

    &.#{$C_PREFIX}-error-border{
      outline: $danger-color $border-thin solid;
    }

    .#{$C_PREFIX}-edit-box-start {
      & > .#{$C_PREFIX}-icon-stage {
        line-height: $INPUT_HEIGHT - $INPUT_BORDER_WIDTH * 2;
        padding-left: $gap-h;
      }
    }

    .#{$C_PREFIX}-edit-box {
      & > input,
      & > textarea {
        transform: rotate(0); // HACK: 触发 placeholder 回流

        border: none;
        width: 100%;
        font: inherit;
        color: inherit;
        padding: 7.5px;

        &:focus {
          outline: none;
          border: none;
        }
      }

      & > input {
        box-sizing: border-box;
        background-color: transparent;
      }

      & > textarea {
        box-sizing: border-box;
        resize: none;
      }
    }
  }

  .#{$C_PREFIX}-tip {
    margin-top: $gap-v-half;
    font-size: $h5;
    color: $grey-light;

    &-danger {
      color: $danger-color;
    }
  }
}

@include device-type("s") {
  .#{$C_PREFIX} {
    width: 100%;
  }
}