$C_PREFIX: #{ $COMP_INPUT };

$INPUT_HEIGHT: 36px;
$INPUT_WIDTH: 170px;
$INPUT_BORDER_WIDTH: 1px;

.#{$C_PREFIX} {
  &.#{$C_PREFIX}-theme-primary,
  &.#{$C_PREFIX}-theme-fill {
    .#{$C_PREFIX}-wrap {
      .#{$C_PREFIX}-edit-box {
        & > input,
        & > textarea {
          padding: 7.5px;
        }
      }

      .#{$C_PREFIX}-auto-completion {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }

    .#{$C_PREFIX}-danger-tip {
      position: absolute;
      top: $INPUT_HEIGHT + 5;
      width: 100%;
      background: #fff;
      border: $danger-color $border-thin solid;
      padding: $gap-v;
      z-index: 1;

      &::after,
      &::before {
        content: "◆";
        position: absolute;
        top: -11px;
        left: 0;
        right: 0;
        margin: auto;
        width: 22px;
        height: 20px;
        font-size: 33px;
        line-height: 20px;
      }

      &::after {
        top: -9px;
        color: #fff;
      }
    }
  }

  &.#{$C_PREFIX}-theme-fill {
    width: 100%;
  }
}

@include device-type("<l") {
  .#{$C_PREFIX} {
    width: 100%;
  }
}