/**
 * input material UI 组件样式
 */

@import "../../scss/config.scss";
@import "../../scss/extend.scss";
@import "../../scss/name.scss";
@import "../../scss/mixin.scss";

$C_PREFIX: #{ $COMP_INPUT };

$INPUT_HEIGHT: 36px;
$INPUT_WIDTH: 170px;
$INPUT_BORDER_WIDTH: 1px;

.#{$C_PREFIX}.#{$C_PREFIX}-ui-material {
  &:hover {
    .#{$C_PREFIX}-wrap {
      & > .#{$C_PREFIX}-wrap-border {
        border-color: $border-dark-color;
      }

      border-color: $border-dark-color;
    }

    &.#{$C_PREFIX}-type-area {
      .#{$C_PREFIX}-wrap {
        border: $border-dark-color $border-thin solid;

        & > .#{$C_PREFIX}-wrap-border {
          border: $border-dark-color $border-thin solid;
        }
      }
    }
  }

  .#{$C_PREFIX}-wrap {
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: $border-thick;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: -1px;
      background-color: rgba(#000, 0);
      z-index: 1;
      transform: scaleX(0);
      transition: all 300ms ease-out;
    }

    &.#{$C_PREFIX}-error-border{
      outline: none;
    }

    &.#{$C_PREFIX}-editting {
      &::after {
        width: 100%;
        background-color: $primary-color;
        transform: scaleX(1);
      }
    }

    & > .#{$C_PREFIX}-wrap-border {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      border-bottom: rgba(#000, 0) $border-thin solid;
      transition: all 100ms ease-out;
    }

    .#{$C_PREFIX}-auto-completion {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  .#{$C_PREFIX}-tip-danger {
    position: absolute;
    top: $INPUT_HEIGHT + 5;
    width: 100%;
    background: #fff;
    border: $danger-color $border-thin solid;
    padding: $gap-v;
    z-index: 1;

    &::after,
    &::before {
      content: "◆";
      position: absolute;
      top: -11px;
      left: 0;
      right: 0;
      margin: auto;
      width: 22px;
      height: 20px;
      font-size: 33px;
      line-height: 20px;
    }

    &::after {
      top: -9px;
      color: #fff;
    }
  }
}
