@import "../../../scss/config.scss";
@import "../../../scss/extend.scss";
@import "../../../scss/name.scss";

/**
 * select 组件样式
 */

$C_PREFIX: #{ $COMP_SELECT };
$C_OPT_PREFIX: #{ $COMP_SELECT_OPT };
$INPUT_PREFIX: #{ $COMP_INPUT };

$SELECT_HEIGHT: 36px;
$SELECT_WIDTH: 170px;
$SELECT_BORDER_WIDTH: 1px;
$OPTION_UI_PADDING_WIDTH: $gap-v;

$MULTI_SELECT_WIDTH: 170px + 80px;

.#{ $C_PREFIX } {
  display: inline-block;

  .#{ $C_PREFIX }-stage {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    height: $SELECT_HEIGHT;
    width: $SELECT_WIDTH;
    background-color: #fff;
    border: $border-color $border-thin solid;
    cursor: default;

    .#{ $C_PREFIX }-read-only {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 5;
      opacity: 0;
    }

    &.#{ $C_PREFIX }-multiple-stage {
      position: relative;
      width: $MULTI_SELECT_WIDTH;
      height: auto;
      min-height: $SELECT_HEIGHT;

      .#{ $C_PREFIX }-init-text {
        display: inline-block;
        position: absolute;
        box-sizing: border-box;
        top: 0;
        left: 0;

        &.#{ $C_PREFIX }-opacity {
          opacity: 0;
        }

        .#{$INPUT_PREFIX}-wrap input {
          padding-left: 0;
        }
      }

      .#{ $C_PREFIX }-menu,
      .#{ $C_PREFIX }-opt-comp {
        width: $MULTI_SELECT_WIDTH;
      }
    }

    .#{ $C_PREFIX }-selected-box {
      display: inline-block;
      position: relative;
      box-sizing: border-box;
      vertical-align: middle;
      min-height: $SELECT_HEIGHT;
      width: 100%;

      .#{ $C_PREFIX }-scroller {
        transition: height 300ms ease;
        will-change: height;
      }

      .#{ $C_PREFIX }-init-text-input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }

      .#{ $C_PREFIX }-init-text {
        @extend %text-ellipsis;
        width: 100%;

        &.#{ $C_PREFIX }-default-text {
          color: #999;
        }

        .#{$INPUT_PREFIX}-wrap {
          border: none;
          height: 34px;
        }
      }

      .fa-times{
        cursor: pointer;
      }

      .#{ $C_PREFIX }-multiple {
        &>li {
          background-color: $default-color;
          display: inline-block;
          margin: $gap-v-half 3px;
          padding: 3px;

          &:hover{
            background-color: $border-color;
          }
        }
      }

      .#{ $C_PREFIX }-caret-down-icon {
        position: absolute;
        right: 10px;
        top: 9px;
        height: 13px;
      }
    }

    .#{ $C_PREFIX }-menu {
      position: absolute;
      top: $SELECT_HEIGHT - $SELECT_BORDER_WIDTH * 2;
      left: -$SELECT_BORDER_WIDTH;
      width: $SELECT_WIDTH;
      overflow: hidden;
      border: $border-dark-color $border-thin solid;
      border-bottom-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      z-index: 2;
      transition: top 300ms ease;
      will-change: top;

      .#{ $C_PREFIX }-opt-comp {
        position: static;
        display: block;
      }

      .#{ $C_PREFIX }-search-input{
        box-sizing: border-box;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, .1);
        background-color: #fff;
        padding: 0 $gap-h;
        border-bottom: 1px solid $border-color;

        display:inline-block;
        width: 100%;

        & > .#{$INPUT_PREFIX} {
          width: calc(100% - 20px);

          &:focus{
            outline:none;
          }

          .#{$INPUT_PREFIX}-wrap {
            border:none;
          }
        }
      }
    }

    &.#{ $C_PREFIX }-theme-primary,
    &.#{ $C_PREFIX }-theme-fill {
      vertical-align: middle;
      border-radius: $border-radius;

      &.#{ $C_PREFIX }-multiple-stage {
        .#{ $C_OPT_PREFIX }-li > span {
          @extend %text-ellipsis;
          display: inline-block;
          vertical-align: middle;
          width: calc(100% - 25px);
        }
      }

      &:hover {
        border: $border-dark-color $border-thin solid;
      }

      &.#{ $C_PREFIX }-selected {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border: $border-dark-color $border-thin solid;
      }

      .#{ $C_PREFIX }-opt-comp {
        width: 100%;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: none;

        &>.#{ $C_OPT_PREFIX }-li:first-child {
          border-top: $border-lightest-color $border-thin solid;
        }
      }
    }

    &.#{ $C_PREFIX }-theme-fill {
      width: 100%;
    }
  }
}