@import "../config.scss";

.btn {
  display: inline-block;
  border: $border-thin solid transparent;
  padding: $gap-v 15px;
  border-radius: 4px;
  outline: none;

  color: #ffffff;
  text-align: center;
  cursor: pointer;
  font-size: $font-base;
  line-height: 1.42857;
  white-space: nowrap;

  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus,
  &:focus:active {
    color: #ffffff;
    outline: none;
  }

  &.btn-primary {
    background-color: $danger-color;

    &:hover {
      background-color: #d44a4a;
      border-color: $danger-color;
    }

    &:active {
      background-color: #c9403f;
    }
  }

  &.btn-secondary {
    background-color: $secondary-color;
  }

  &.btn-default {
    border: $grey-light $border-thin solid;
    color: $grey-light;

    &:hover {
      background-color: #f6f6f6;
    }

    &:active {
      background-color: $default-color;
    }
  }
}