@import "../../../scss/config.scss";
@import "../../../scss/extend.scss";
@import "../../../scss/name.scss";
@import "../../../scss/mixin.scss";

/**
 * nav 组件样式
 */

$C_PREFIX: #{ $COMP_NAV };
$ICON_PREFIX: #{ $COMP_ICON };

.#{$C_PREFIX} {
  position: relative;

  .#{$C_PREFIX}-trigger {
    display: none;
    background-color: $bg-color;
    padding: $gap-v;
    border-bottom: $border-color $border-thin solid;
    box-shadow: 0 2px 4px rgba(0,0,0,.12),0 0 6px rgba(0,0,0,.04);
  }

  .#{$C_PREFIX}-stage {
    & > .#{$C_PREFIX}-transition-container
        > .#{$C_PREFIX}-sub-fold {
      margin-left: 0;
    }

    .#{$C_PREFIX}-sub-fold {
      margin-left: $gap-h;

      a {
        display: block;
      }
    }
  }

  .#{$C_PREFIX}-close-nav {
    display: none;
  }
}