@import "../../../scss/config.scss";
@import "../../../scss/extend.scss";
@import "../../../scss/name.scss";

/**
 * btn 组件样式
 */

@mixin border-radius($color, $dark-color) {
  background-color: $color;
  border-color: $color;

  &:hover {
    background-color: $dark-color;
    border-color: $dark-color;
  }

  &:active {
    background-color: $dark-color;
    border-color: $dark-color;
  }
}

$C_PREFIX: #{ $COMP_BTN };

.#{ $C_PREFIX } {
  position: relative;
  display: inline-block;

  & > a,
  & > button,
  & > input {
    width: 100%;
  }
  & > a {
  	cursor: pointer;
  }

  .#{ $C_PREFIX }-ele {
    position: relative;
    display: inline-block;
    border: $border-thin solid transparent;
    padding: 7.5px $gap-v-triple;
    border-radius: $border-radius;

    color: #ffffff;
    text-align: center;
    cursor: pointer;
    font-size: $font-base;
    line-height: 1.42857;
    white-space: nowrap;

    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus:active {
      color: #ffffff;
      outline: none;
    }

    &.#{ $C_PREFIX }-ele-primary {
      @include border-radius($primary-color, $primary-dark-color);
    }

    &.#{ $C_PREFIX }-ele-danger {
      @include border-radius($danger-color, $danger-dark-color);
    }

    &.#{ $C_PREFIX }-ele-success {
      @include border-radius($success-color, $success-dark-color);
    }

    &.#{ $C_PREFIX }-ele-warning {
      @include border-radius($warning-color, $warning-dark-color);
    }

    &.#{ $C_PREFIX }-ele-default {
      @include border-radius(#fff, $border-light-color);
      border-color: $grey-dark;
      color: $grey-dark;

      &:hover,
      &:active {
        color: $grey-dark;
        border-color: $grey-dark;
      }
    }

    &.#{ $C_PREFIX }-ele-m {
      padding: 7px $gap-v-double * 2;
    }

    &.#{ $C_PREFIX }-ele-l {
      padding: 7px $gap-v-triple * 2;
    }

    .#{ $C_PREFIX }-loading {
      position: absolute;
      left: $gap-v;
    }
  }

  .#{ $C_PREFIX }-value-show {
    display: inline-block;
  }

  .#{ $C_PREFIX }-read-only-shadow {
    @extend %center-position;

    background-color: rgba(0, 0, 0, .3);
    border-radius: $border-radius;
    cursor: not-allowed;
    z-index: 1;
  }

  &.#{ $C_PREFIX }-theme-primary {
    .#{ $C_PREFIX }-ele {
      padding: 7px 15px;
    }
  }
}