@import "../../../scss/config.scss";
@import "../../../scss/extend.scss";
@import "../../../scss/name.scss";

/**
 * btn 组件样式
 */

$kind-hub: ('primary', 'danger', 'success', 'warning', 'default');

@mixin btn-button($color, $dark-color, $lighter-color) {
  background-color: $color;
  border-color: $color;

  &:focus {
    outline-style: none;
  }
}

@mixin btn-flat($color, $lighter-color) {
  color: $color;
  border: rgba(0, 0, 0, 0) $border-thin solid;
  -webkit-tap-highlight-color: $lighter-color;

  &:focus {
    outline-style: none;
    background-color: $lighter-color;
    border-color: $lighter-color;
  }
}

@mixin btn-outline($color) {
  border-color: $color;
  color: $color;

  &:focus {
    outline-style: none;
    background-color: $default-color;
  }
}

$C_PREFIX: #{ $COMP_BTN };

.#{ $C_PREFIX } {
  position: relative;
  display: inline-block;
  cursor: pointer;

  & > a {
    width: 100%;
  }

  .#{ $C_PREFIX }-ele {
    position: relative;
    padding: 7.5px $gap-v-triple / 2;
    border-radius: $border-radius;
    color: #fff;
    text-align: center;
    font-size: $font-base;
    line-height: 1.42857;
    white-space: nowrap;
    transition-duration: 200ms;
    transition-property: background-color, box-shadow, color;

    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus:active {
      color: #fff;
      outline: none;
    }

    .#{ $C_PREFIX }-loading {
      position: absolute;
      left: $gap-v;
      z-index: 2;
    }
  }

  &.#{ $C_PREFIX }-size {
    &-m > .#{ $C_PREFIX }-ele {
      padding: 7px $gap-v-double * 2;
    }

    &-l > .#{ $C_PREFIX }-ele {
      padding: 7px $gap-v-triple * 2;
    }
  }

  &.#{ $C_PREFIX }-radius {
    &-none > .#{ $C_PREFIX }-ele {
      border-radius: 0;
    }

    &-m > .#{ $C_PREFIX }-ele {
      border-radius: 10px;
    }

    &-l > .#{ $C_PREFIX }-ele {
      border-radius: 30px;
    }
  }

  &.#{ $C_PREFIX }-type-button {
    & > .#{ $C_PREFIX }-ele {
      background-color: #fff;
      border: $border-thin solid transparent;
      border-radius: $border-radius;
      box-shadow: $shadow-lower;

      &:hover {
        box-shadow: $shadow-lower;
      }
    }

    &.#{ $C_PREFIX }-kind {
      &-primary > .#{ $C_PREFIX }-ele {
        @include btn-button($primary-color, $primary-dark-color, $primary-lighter-color);
      }

      &-danger > .#{ $C_PREFIX }-ele {
        @include btn-button($danger-color, $danger-dark-color, $danger-lighter-color);
      }

      &-success > .#{ $C_PREFIX }-ele {
        @include btn-button($success-color, $success-dark-color, $success-lighter-color);
      }

      &-warning > .#{ $C_PREFIX }-ele {
        @include btn-button($warning-color, $warning-dark-color, $warning-lighter-color);
      }

      &-default > .#{ $C_PREFIX }-ele {
        @include btn-button(#fff, $border-light-color, $border-lightest-color);
        border-color: $grey-dark;
        color: $grey-dark;

        &:hover,
        &:active {
          color: $grey-dark;
          border-color: $grey-dark;
        }
      }
    }
  }

  &.#{ $C_PREFIX }-type-flat {
    & > .#{ $C_PREFIX }-ele {
      background-color: #fff;
      padding: 7.5px $gap-v;
    }

    &.#{ $C_PREFIX }-kind-primary > .#{ $C_PREFIX }-ele {
      @include btn-flat($primary-color, $primary-lighter-color);
    }

    &.#{ $C_PREFIX }-kind-danger > .#{ $C_PREFIX }-ele {
      @include btn-flat($danger-color, $danger-lighter-color);
    }

    &.#{ $C_PREFIX }-kind-success > .#{ $C_PREFIX }-ele {
      @include btn-flat($success-color, $success-lighter-color);
    }

    &.#{ $C_PREFIX }-kind-warning > .#{ $C_PREFIX }-ele {
      @include btn-flat($warning-color, $warning-lighter-color);
    }

    &.#{ $C_PREFIX }-kind-default > .#{ $C_PREFIX }-ele {
      @include btn-flat($grey-light, $warning-lighter-color);
    }
  }

  &.#{ $C_PREFIX }-type-outline {
    & > .#{ $C_PREFIX }-ele {
      background-color: #fff;
      border-style: solid;
      border-width: $border-thin;
    }

    &.#{ $C_PREFIX }-kind-primary > .#{ $C_PREFIX }-ele {
      @include btn-outline($primary-color);
    }

    &.#{ $C_PREFIX }-kind-dange > .#{ $C_PREFIX }-eler {
      @include btn-outline($danger-color);
    }

    &.#{ $C_PREFIX }-kind-success > .#{ $C_PREFIX }-ele {
      @include btn-outline($success-color);
    }

    &.#{ $C_PREFIX }-kind-warning > .#{ $C_PREFIX }-ele {
      @include btn-outline($warning-color);
    }

    &.#{ $C_PREFIX }-kind-default > .#{ $C_PREFIX }-ele {
      @include btn-outline($grey-light);
    }
  }

  & > .#{ $C_PREFIX }-rip {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      background-color: rgba(255, 255, 255, .3);
      top: 50%;
      left: 50%;
      width: 80%;
      height: 200%;
      border-radius: 50%;
      animation: rip 2.5s ease-in infinite alternate;
    }
  }

  .#{ $C_PREFIX }-value-show {
    display: inline-block;
  }

  .#{ $C_PREFIX }-read-only-shadow {
    @extend %center-position;

    background-color: rgba(255, 255, 255, .5);
    border-radius: $border-radius;
    cursor: not-allowed;
    z-index: 1;
  }

  @keyframes rip {
    0% {
      transform: translate(-50%, -50%);
    }
    50% {
      transform: translate(-50%, -50%) scaleX(.9);
    }
    100% {
      transform: translate(-50%, -50%);
    }
  }
}