@import './var.config.scss';
@import './util/var.scss';

$css-vars-use-native: false !default;
$css-vars-debug-log: false !default;
$--prefix: z !default;

// 暴露全局变量
@include css-vars(
  (
    --#{$--prefix}: $--prefix,
    --#{$--prefix}-color-blue-lighter: $--color-blue-lighter,
    --#{$--prefix}-color-blue-light: $--color-blue-light,
    --#{$--prefix}-color-blue: $--color-blue,
    --#{$--prefix}-color-blue-dark: $--color-blue-dark,
    --#{$--prefix}-color-blue-darker: $--color-blue-darker,
    --#{$--prefix}-color-danger-lighter: $--color-danger-lighter,
    --#{$--prefix}-color-danger-light: $--color-danger-light,
    --#{$--prefix}-color-danger: $--color-danger,
    --#{$--prefix}-color-danger-dark: $--color-danger-dark,
    --#{$--prefix}-color-danger-darker: $--color-danger-darker,
    --#{$--prefix}-color-success-lighter: $--color-success-lighter,
    --#{$--prefix}-color-success-light: $--color-success-light,
    --#{$--prefix}-color-success: $--color-success,
    --#{$--prefix}-color-success-dark: $--color-success-dark,
    --#{$--prefix}-color-success-darker: $--color-success-darker,
    --#{$--prefix}-color-warning-lighter: $--color-warning-lighter,
    --#{$--prefix}-color-warning-light: $--color-warning-light,
    --#{$--prefix}-color-warning: $--color-warning,
    --#{$--prefix}-color-warning-dark: $--color-warning-dark,
    --#{$--prefix}-color-warning-darker: $--color-warning-darker,
    --#{$--prefix}-color-orange-lighter: $--color-orange-lighter,
    --#{$--prefix}-color-orange-light: $--color-orange-light,
    --#{$--prefix}-color-orange: $--color-orange,
    --#{$--prefix}-color-orange-dark: $--color-orange-dark,
    --#{$--prefix}-color-orange-darker: $--color-orange-darker,
    --#{$--prefix}-color-light-lighter: $--color-light-lighter,
    --#{$--prefix}-color-light-light: $--color-light-light,
    --#{$--prefix}-color-light: $--color-light,
    --#{$--prefix}-color-light-dark: $--color-light-dark,
    --#{$--prefix}-color-light-darker: $--color-light-darker,
    --#{$--prefix}-color-dark-lighter: $--color-dark-lighter,
    --#{$--prefix}-color-dark-light: $--color-dark-light,
    --#{$--prefix}-color-dark: $--color-dark,
    --#{$--prefix}-color-dark-dark: $--color-dark-dark,
    --#{$--prefix}-color-dark-darker: $--color-dark-darker,
    --#{$--prefix}-color-white-lighter: $--color-white-lighter,
    --#{$--prefix}-color-white-light: $--color-white-light,
    --#{$--prefix}-color-white: $--color-white,
    --#{$--prefix}-color-white-dark: $--color-white-dark,
    --#{$--prefix}-color-white-darker: $--color-white-darker,
    --#{$--prefix}-color-black-lighter: $--color-black-lighter,
    --#{$--prefix}-color-black-light: $--color-black-light,
    --#{$--prefix}-color-black: $--color-black,
    --#{$--prefix}-color-black-dark: $--color-black-dark,
    --#{$--prefix}-color-black-darker: $--color-black-darker,
    --#{$--prefix}-color-grey-lighter: $--color-grey-lighter,
    --#{$--prefix}-color-grey-light: $--color-grey-light,
    --#{$--prefix}-color-grey: $--color-grey,
    --#{$--prefix}-color-grey-dark: $--color-grey-dark,
    --#{$--prefix}-color-grey-darker: $--color-grey-darker,
    --#{$--prefix}-color-primary-lighter: $--color-primary-lighter,
    --#{$--prefix}-color-primary-light: $--color-primary-light,
    --#{$--prefix}-color-primary: $--color-primary,
    --#{$--prefix}-color-primary-dark: $--color-primary-dark,
    --#{$--prefix}-color-primary-darker: $--color-primary-darker,
    --#{$--prefix}-color-secondary-lighter: $--color-secondary-lighter,
    --#{$--prefix}-color-secondary-light: $--color-secondary-light,
    --#{$--prefix}-color-secondary: $--color-secondary,
    --#{$--prefix}-color-secondary-dark: $--color-secondary-dark,
    --#{$--prefix}-color-secondary-darker: $--color-secondary-darker,
    --#{$--prefix}-color-text-light-primary: $--color-text-light-primary,
    --#{$--prefix}-color-text-light-secondary: $--color-text-light-secondary,
    --#{$--prefix}-color-text-light-hint: $--color-text-light-hint,
    --#{$--prefix}-color-text-light-divider: $--color-text-light-divider,
    --#{$--prefix}-color-text-dark-primary: $--color-text-dark-primary,
    --#{$--prefix}-color-text-dark-secondary: $--color-text-dark-secondary,
    --#{$--prefix}-color-text-dark-hint: $--color-text-dark-hint,
    --#{$--prefix}-color-text-dark-divider: $--color-text-dark-divider,
    --#{$--prefix}-color-bg: $--color-bg,
    --#{$--prefix}-color-link: $--color-link,
    --#{$--prefix}-color-border: $--color-border,
    --#{$--prefix}-color-border-light: $--color-border-light,
    --#{$--prefix}-color-border-dark: $--color-border-dark,
    --#{$--prefix}-gap: $--gap,
    --#{$--prefix}-gap-half: $--gap-v-half,
    --#{$--prefix}-gap-double: $--gap-v-double,
    --#{$--prefix}-gap-triple: $--gap-v-triple,
    --#{$--prefix}-gutter: $--gutter,
    --#{$--prefix}-gutter-half: $--gutter-v-half,
    --#{$--prefix}-gutter-double: $--gutter-v-double,
    --#{$--prefix}-gutter-triple: $--gutter-v-triple,
    --#{$--prefix}-border-thin: $--border-thin,
    --#{$--prefix}-border-thick: $--border-thick,
    --#{$--prefix}-border: $--border,
    --#{$--prefix}-border-radius: $--border-radius,
    --#{$--prefix}-border-radius-m: $--border-radius-m,
    --#{$--prefix}-border-radius-l: $--border-radius-l,
    --#{$--prefix}-font-base: $--font-base,
    --#{$--prefix}-h1: $--h1,
    --#{$--prefix}-h2: $--h2,
    --#{$--prefix}-h3: $--h3,
    --#{$--prefix}-h4: $--h4,
    --#{$--prefix}-h5: $--h5,
    --#{$--prefix}-h6: $--h6,
    --#{$--prefix}-z-index-lower: $--z-index-lower,
    --#{$--prefix}-z-index: $--z-index,
    --#{$--prefix}-z-index-higher: $--z-index-higher,
    --#{$--prefix}-shadow-lower: $--shadow-lower,
    --#{$--prefix}-shadow: $--shadow,
    --#{$--prefix}-shadow-higher: $--shadow-higher
  )
);
