/**
 * table 组件样式
 */

@import "../../scss/config.scss";
@import "../../scss/extend.scss";
@import "../../scss/name.scss";
@import "../../scss/mixin.scss";

$C_PREFIX: #{$COMP_TABLE};
$COL_PREFIX: #{$COMP_TABLE_COL};

.#{$C_PREFIX} {
  position: relative;

  &.#{$C_PREFIX}-stripe {
    .#{$C_PREFIX}-header-group {
      background: $color-bg;
    }

    .#{$C_PREFIX}-row {
      &:hover {
        background-color: transparent;
      }

      &:nth-child(2n) {
        background: $color-bg;
      }
    }
  }

  &-page {
    border-top: $divider;
  }

  .#{$C_PREFIX}-row:hover {
    background-color: $color-bg;
  }

  .#{$C_PREFIX}-col {
    text-align: left;
  }

  .#{$COL_PREFIX} > div {
    display: inline-block;
  }

  &.#{$C_PREFIX}-border-row,
  &.#{$C_PREFIX}-border-all {
    .#{$C_PREFIX}-header-group {
      .#{$C_PREFIX}-row {
        border-bottom: $divider;
      }
    }

    .#{$C_PREFIX}-row-group {
      .#{$C_PREFIX}-row {
        border-bottom: $divider;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  &.#{$C_PREFIX}-border-col,
  &.#{$C_PREFIX}-border-all {
    .#{$C_PREFIX}-row {
      .#{$C_PREFIX}-col {
        border-right: $divider;

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  .#{$C_PREFIX}-empty-data {
    color: $color-danger;
    text-align: center;
    padding: $gap-v 0;
  }

  .#{$C_PREFIX}-wrap {
    background: #fff;
    border-collapse: collapse;
    width: 100%;
  }

  .#{$C_PREFIX}-header {
    padding: $gap-v-double $gap-v-triple;
  }

  .#{$COL_PREFIX} {
    padding: $gap-v-double $gap-v-triple;
  }
}
