/**
 * select-opt 组件样式
 */

@import "../../scss/config.scss";
@import "../../scss/extend.scss";
@import "../../scss/name.scss";
@import "../../scss/mixin.scss";

$C_PREFIX: #{ $COMP_SELECT_OPT };
$OPTION_UI_PADDING_WIDTH: $gap-v;

.#{$C_PREFIX}-ul {
  display: none;
  background-color: #fff;

  .#{$C_PREFIX}-li {
    position: relative;
    padding: $gap-v $gap-h-double;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    cursor: default;
    background-color: rgba($color-bg, 0);

    &:first-child {
      padding-top: $OPTION_UI_PADDING_WIDTH;
    }
    &:last-child {
      padding-bottom: $OPTION_UI_PADDING_WIDTH;
    }

    &.#{$C_PREFIX}-default-txt {
      color: #999;
    }

    &.#{$C_PREFIX}-classify-title {
      font-weight: bold;
    }

    &.#{$C_PREFIX}-li-focus {
      background-color: rgba($color-bg, 1);
    }

    .#{$C_PREFIX}-li-check {
      line-height: 1;
    }

    .#{$C_PREFIX}-li-text {
      @extend %text-omit;

      display: inline-block;
      vertical-align: middle;
      width: 100%;
      box-sizing: border-box;
      line-height: normal;
    }
  }
}

@include device-type("s") {
  .#{$C_PREFIX}-ul {
    width: 100%;
  }
}
