@import "../../scss/config.scss";
@import "../../scss/extend.scss";
@import "../../scss/name.scss";
@import "../../scss/mixin.scss";

$C_PREFIX: #{ $COMP_SELECT };
$C_OPT_PREFIX: #{ $COMP_SELECT_OPT };
$C_ELE_PREFIX: #{ $COMP_SELECT_ELE };
$INPUT_PREFIX: #{ $COMP_INPUT };
$SCROLLER_PREFIX: #{ $COMP_SCROLLER };

$MENU_WIDTH: 170px;
$MULTI_MENU_WIDTH: 170px + 80px;
$MENU_HEIGHT: 36px;

.#{$C_PREFIX}.#{$C_PREFIX}-ui-material {
  width: $MENU_WIDTH;
  height: $MENU_HEIGHT;
  vertical-align: middle;
  border-radius: $border-radius;

  &:focus {
    outline: none;
  }

  &.#{$C_PREFIX}-multiple {
    width: $MULTI_MENU_WIDTH;
  }

  &.#{$C_PREFIX}-selecting {
    .#{$C_PREFIX}-selected-box {
      &::after {
        opacity: 1;
      }
    }
  }

  &.#{$C_PREFIX}-focusing {
    .#{$C_PREFIX}-selected-box {
      &::after {
        opacity: 1;
      }
    }
  }

  & > .#{$C_PREFIX}-selected-box {
    &::after {
      box-shadow: $shadow-lower;
      content: '';

      opacity: 0;
      transition: opacity 300ms ease-out;

      width: 100%;
      height: 100%;

      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }
  }

  .#{$C_PREFIX}-opt-comp {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;

    & > .#{ $C_OPT_PREFIX }-li:first-child {
      border-top: $color-border-light $border-thin solid;
    }
  }
}
