/**
 * input material UI 组件样式
 */

@import '../../scss/config.scss';
@import '../../scss/extend.scss';
@import '../../scss/name.scss';
@import '../../scss/mixin.scss';

$C_PREFIX: #{$COMP_INPUT};

$INPUT_HEIGHT: 36px;
$INPUT_WIDTH: 170px;
$INPUT_BORDER_WIDTH: 1px;

@mixin theme-content($type, $type-color, $type-color-dark, $type-color-light, $type-color-darker, $type-color-lighter) {
  &.#{$C_PREFIX}-type-area {
    & > .#{$C_PREFIX}-wrap {
      &.#{$C_PREFIX}-editting {
        & > .#{$C_PREFIX}-wrap-border {
          border-color: $type-color !important;
        }

        border-color: $type-color !important;
      }
    }
  }

  & > .#{$C_PREFIX}-wrap {
    & > .#{$C_PREFIX}-wrap-border-motion-edit {
      background-color: $type-color;
    }

    .#{$C_PREFIX}-edit-box {
      &-label {
        &-float {
          color: $type-color;
        }
      }
    }
  }
}

.#{$C_PREFIX}.#{$C_PREFIX}-ui-material {
  padding-top: $gutter-v;

  &.#{$C_PREFIX}-label-cover {
    & > .#{$C_PREFIX}-wrap .#{$C_PREFIX}-edit-box-input {
      cursor: pointer;
    }
  }

  &.#{$C_PREFIX}-type-area {
    & > .#{$C_PREFIX}-wrap {
      &:hover {
        border: $color-border-dark $border-thin solid;

        & > .#{$C_PREFIX}-wrap-border {
          border: $color-border-dark $border-thin solid;
        }
      }

      &.#{$C_PREFIX}-editting {
        & > .#{$C_PREFIX}-wrap-border {
          border-color: $color-primary !important;
        }

        border-color: $color-primary !important;
      }

      .#{$C_PREFIX}-edit-box {
        $gutter-v: 13px;
        $gutter-v-triple: 26px;

        padding-top: $gutter-v-triple;

        & > .#{$C_PREFIX}-edit-box-input {
          padding: 0 $gutter-v $gap-v;
        }

        &-placeholder {
          padding-top: $gutter-v-triple;
          padding-left: $gutter-v;
          padding-right: $gutter-v;
        }

        &-label {
          padding-top: 12px;
          padding-left: $gutter-v;
          padding-right: $gutter-v;

          &-float {
            top: -8px;
          }
        }
      }
    }
  }

  & > .#{$C_PREFIX}-wrap {
    & > .#{$C_PREFIX}-wrap-border-motion {
      position: absolute;
      width: 0;
      height: $border-thick;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: -1px;
      z-index: 1;
      transition-property: width;
      transition-duration: 300ms;
      transition-timing-function: ease-in-out;

      &.#{$C_PREFIX}-wrap-border-motion-active {
        width: 100%;
      }
    }

    & > .#{$C_PREFIX}-wrap-border-motion-edit {
      background-color: $color-primary;
    }

    & > .#{$C_PREFIX}-wrap-border-motion-error {
      background-color: $color-danger;
    }

    &:hover {
      & > .#{$C_PREFIX}-wrap-border {
        border-color: $color-border-dark;
      }

      border-color: $color-border-dark;
    }

    &.#{$C_PREFIX}-error {
      .#{$C_PREFIX}-edit-box-label {
        color: $color-danger;
      }
    }

    & > .#{$C_PREFIX}-wrap-border {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      border-bottom: rgba(#000, 0) $border-thin solid;
      transition: border 100ms ease-out;
    }

    .#{$C_PREFIX}-edit-box {
      & > .#{$C_PREFIX}-edit-box-pre,
      & > .#{$C_PREFIX}-edit-box-input {
        padding: $gap-v 0;
      }

      &-placeholder {
        padding: $gap-v 0;
      }

      &-label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: $gap-v 0;
        transition: all 150ms ease-in-out;
        color: $grey;
        box-sizing: border-box;
        cursor: pointer;

        &-float {
          color: $color-primary;
          top: -22px;
          font-size: $h5;
        }
      }
    }

    .#{$C_PREFIX}-auto-completion {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}

.#{$C_PREFIX}.#{$C_PREFIX}-ui-material.#{$C_PREFIX}-theme-success {
  @include theme-style('success');
}

.#{$C_PREFIX}.#{$C_PREFIX}-ui-material.#{$C_PREFIX}-theme-danger {
  @include theme-style('danger');
}

.#{$C_PREFIX}.#{$C_PREFIX}-ui-material.#{$C_PREFIX}-theme-warning {
  @include theme-style('warning');
}

.#{$C_PREFIX}.#{$C_PREFIX}-ui-material.#{$C_PREFIX}-theme-orange {
  @include theme-style('orange');
}

.#{$C_PREFIX}.#{$C_PREFIX}-ui-material.#{$C_PREFIX}-theme-blue {
  @include theme-style('blue');
}

.#{$C_PREFIX}.#{$C_PREFIX}-ui-material.#{$C_PREFIX}-theme-light {
  @include theme-style('light');
}

.#{$C_PREFIX}.#{$C_PREFIX}-ui-material.#{$C_PREFIX}-theme-dark {
  @include theme-style('dark');
}

.#{$C_PREFIX}.#{$C_PREFIX}-ui-bootstrap.#{$C_PREFIX}-theme-black {
  @include theme-style('black');
}

.#{$C_PREFIX}.#{$C_PREFIX}-ui-bootstrap.#{$C_PREFIX}-theme-white {
  @include theme-style('white');
}

.#{$C_PREFIX}.#{$C_PREFIX}-ui-material.#{$C_PREFIX}-theme-grey {
  @include theme-style('grey');
}
