@import './mixin/animation';

//---------------- layout ----------------
$DEVICE-XS-RANGE: "0px ~ 575px";
$DEVICE-S-RANGE: "576px ~ 767px";
$DEVICE-M-RANGE: "768px ~ 991px";
$DEVICE-L-RANGE: "992px ~ 1199px";
$DEVICE-XL-RANGE: "1200px ~ --px";

@mixin device-type($type) {
  @if $type==xs {
    @media only screen and (max-width: 575px) {
      @content;
    }
  }

  @if $type==s {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }

  @if $type==m {
    @media only screen and (max-width: 991px) {
      @content;
    }
  }

  @if $type==l {
    @media only screen and (max-width: 1911px) {
      @content;
    }
  }

  @if $type==xl {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
}

@mixin theme-style($type) {
  $type-color: $color-primary;
  $type-dark-color: $color-primary-dark;

  @if $type=='primary' {
    $type-color: $color-primary;
    $type-dark-color: $color-primary-dark;
  }
  @else if $type=='danger' {
    $type-color: $color-danger;
    $type-dark-color: $color-danger-dark;
  }
  @else if $type=='success' {
    $type-color: $color-success;
    $type-dark-color: $color-success-dark;
  }
  @else if $type=='waring' {
    $type-color: $color-warning;
    $type-dark-color: $color-warning-dark;
  }
  @else if $type=='blue' {
    $type-color: $color-blue;
    $type-dark-color: $color-blue-dark;
  }
  @else if $type=='light' {
    $type-color: $color-light;
    $type-dark-color: $color-light-dark;
  }
  @else if $type=='dark' {
    $type-color: $color-dark;
    $type-dark-color: $color-dark-dark;
  }
  @else if $type=='orange' {
    $type-color: $color-orange;
    $type-dark-color: $color-orange-dark;
  }
  @else if $type=='grey' {
    $type-color: $color-grey;
    $type-dark-color: $color-grey-dark;
  }
  @else {
    $type-color: $color-grey;
    $type-dark-color: $color-grey-dark;
  }

  @include theme-content($type-color, $type-dark-color)
}
