@import '../../scss/config.scss';
@import '../../scss/extend.scss';
@import '../../scss/name.scss';
@import '../../scss/mixin.scss';

/**
 * search 组件样式
 */

$C_PREFIX: #{$COMP_SEARCH};

$INPUT_HEIGHT: 36px;
$INPUT_WIDTH: 170px;
$INPUT_BORDER_WIDTH: 1px;

.#{$C_PREFIX} {
  .#{$C_PREFIX}-match {
    position: absolute;
    top: $INPUT_HEIGHT - 4;
    left: -$INPUT_BORDER_WIDTH;
    z-index: 1;
    width: $INPUT_WIDTH;
    background: #fff;
    border: $color-border-dark $border-thin solid;
    box-sizing: border-box;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    overflow: hidden;

    .#{$C_PREFIX}-list-content {
      @extend %text-omit;
      cursor: default;
      width: 100%;
      text-align: left;
      padding: $gap-v;
      box-sizing: border-box;
    }
  }
}
