@import "../../../scss/config.scss";
@import "../../../scss/extend.scss";
@import "../../../scss/name.scss";
@import "../../../scss/mixin.scss";

/**
 * table 组件样式
 */

$C_PREFIX: #{ $COMP_TABLE };
$COL_PREFIX: #{ $COMP_TABLE_COL };

.#{$C_PREFIX} {
  position: relative;

  &.#{$C_PREFIX}-theme-primary {
    .#{$C_PREFIX}-header-group {
      .#{$COL_PREFIX} {
        color: $grey-dark;
      }
    }
  }

  .#{$C_PREFIX}-scroller {
    border: $border-color $border-thin solid;
  }

  .#{$C_PREFIX}-empty-data {
    text-align: center;
    padding: $gap-v 0;
  }

  .#{$C_PREFIX}-wrap {
    background: #fff;
    display: table;
    border-spacing: 0;
    min-width: 100%;
  }

  .#{$C_PREFIX}-header-group {
    background: $bg-color;
    display: table-header-group;
    padding: $gap-v;
  }

  .#{$C_PREFIX}-row-group {
    display: table-row-group;
    padding: $gap-v-double;
  }

  .#{$C_PREFIX}-row {
    display: table-row;
    border: $border-lightest-color $border-thin solid;

    &:nth-child(2n) {
      background: $bg-light-color;
    }
  }

  .#{$C_PREFIX}-header {
    display: table-header;
    padding: $gap-v-double;
  }

  .#{$COL_PREFIX} {
    display: table-cell;
    padding: $gap-v $gap-v-double;
    white-space: nowrap;
  }
}
