@import "../../../scss/config.scss";
@import "../../../scss/mixin.scss";

.footer-layout-stage {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;

  background-color: $grey-dark;
  box-sizing: border-box;
  font-size: 12px;
  text-align: center;

  @include device-type('s'){
    position: static;
  }
}